* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;

  }
  body {
    width: 100%;
    height: 100%;
    background: #D6D4D4;
    font-family: 'Nunito', sans-serif;
  }
  .searchbox {
    width: 15rem;
    outline: none;
    border: none;
    text-indent: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    height: 2.5rem;
    font-size: 1rem;
    border-radius: 5rem 0rem 0rem 5rem;
    background-color: #dcdcdc;
    text-transform: capitalize;
  }
  .searchbutton {
    width: 3rem;
    outline: none;
    border: none;
    height: 2.5rem;
    border-radius: 0rem 5rem 5rem 0rem;
    background-color: #dcdcdc;
    margin-left: -20px;
  }