{{define "title"}}
<title>{{.Title}}</title>
{{end}}

{{define "content"}}

            <!--Staff Account Content-->
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Manage Account</h1>
                        <ol class="breadcrumb ">
                            <li class="breadcrumb-item active">Admin Account</li>
                        </ol>
                        <hr style="height:3px;border-width:0;color:gray;background-color:gray">
                        <div class="container-fluid d-flex justify-content-center">
                            <div class="card shadow w-50 mt-3 ">
                                <div class="card-body">
                                            <form class="row">
                                                <div class="col-12 mb-2">
                                                  <label for="inputEmail4" class="form-label">Username</label>
                                                  <input type="email" class="form-control" id="inputEmail4">
                                                </div>
                                                <div class="col-12 mb-2">
                                                  <label for="inputPassword4" class="form-label">Password</label>
                                                  <input type="password" class="form-control" id="inputPassword4">
                                                </div>
                                                <div class="col-12 mb-2">
                                                    <label for="inputPassword4" class="form-label">Confirm Password</label>
                                                    <input type="password" class="form-control" id="inputPassword4">
                                                </div>
                                                <div class="col-12 mt-3">
                                                    <button class="btn text-white" type="button" id="admin-update" style="background-color: #80190A;">UPDATE</button>
                                                </div>
                                            </form>
                                </div>
                              </div>
                        </div>
                    </div>
                    </main>
                </div>
            </div>

   {{end}}




 