{{define "title"}}
<title>{{.Title}}</title>
{{end}}

{{define "content"}}

            <!--Staff Account Content-->
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Manage Account</h1>
                        <ol class="breadcrumb ">
                            <li class="breadcrumb-item active">User Account</li>
                        </ol>
                        <hr style="height:3px;border-width:0;color:gray;background-color:gray">
                        <div class="container-fluid d-flex justify-content-center">
                            <div class="card shadow w-50 mt-3 ">
                                <div class="card-body">
                                            <div class="row">
                                                <div class="col-12 mb-2">
                                                  <label for="inputEmail4" class="form-label">Username</label>
                                                  <input type="email" class="form-control" id="inputEmail4">
                                                  <input type="text" class="form-control" id="userID" hidden>
                                                </div>
                                                <div class="col-12 mb-2">
                                                  <label for="inputPassword4" class="form-label">Password</label>
                                                  <input type="password" class="form-control" id="inputPassword4">
                                                </div>
                                                <div class="col-12 mb-2">
                                                    <label for="inputPassword5" class="form-label">Confirm Password</label>
                                                    <input type="password" class="form-control" id="inputPassword5">
                                                </div>
                                                <div class="col-12 mt-3">
                                                    <button class="btn text-white" type="button" id="admin-update" style="background-color: #387dff" onclick="Update()">UPDATE</button>
                                                </div>
                                            </div>
                                </div>
                              </div>
                        </div>
                    </div>
                    </main>
                </div>
            </div>
<script>
$( document ).ready(function() {
    $.get("/api/get_user", function(index){
        var result = JSON.parse(index).item
        $.each(result, function(_,v){
            $("#inputEmail4").val(v.Username)
            $("#userID").val(v.ID)
        })
    })
})

function Update(){
    var username = $("#inputEmail4").val()
    var id = $("#userID").val()
    var password = $("#inputPassword4").val()
    var v_password = $("#inputPassword5").val()

    if(username == "" || id == "" || password == "" || v_password == ""){
        alert("Please input Required Fields")
    }else if(password != v_password){
        alert("Password Not Match")
    }else{
        $.ajax({
            url: "/api/edit_user",
            data: {
            "id": id,
            "username": username,
            "password": password,
            },
            success: function () {
                // use SweetAlert2 to show a success dialog
                Swal.fire({
                  title: 'Success!',
                  text: 'You Updated your Info Successfully!',
                  icon: 'success',
                  confirmButtonText: 'OK'
                }).then((result) => {
                  if (result.isConfirmed) {
                    window.location.reload();
                  }
                });
              }
        })
    }
}
</script>

   {{end}}




 