{{define "title"}}
<title>{{.Title}}</title>
{{end}}

{{define "content"}}
            <!--Category Content-->
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid ">
                        <h1 class="mt-4">Product Inventory</h1>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active">Product Category</li>
                        </ol>
                        <hr style="height:3px;border-width:0;color:gray;background-color:gray">
                        <div class="container-fluid ">
                            <div class="card shadow">
                                <div class="card-body">
                                    <div class="d-flex justify-content-end">
                                    <div class="row text-center">
                                        <div class=" d-flex justify-content-end">
                                            <div class="d-grid gap-2 d-md-block ">
                                                <a href="" type=button class="btn text-white" style="background-color: #80190A;" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                                onclick="Validate()">ADD CATEGORY</a>
                                                <a href="" class="btn text-white" id="category-report" style="background-color: #80190A;">GENERATE REPORT</a>
                                            </div>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                              </div>
                        </div>
                        <div class="container-fluid mt-3">
                            <div class="card shadow">
                                    <div class="category" id="category">
                                           <!--- Tables -->
                                           <div class="table-responsive py-3 ms-3 me-3">
                                            <table class="table table-bordered text-center">
                                                <thead>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Created By</th>
                                                    <th scope="col">Category Name</th>
                                                    <th scope="col">Action</th>
                                                    </thead>
                                                <tbody id="category-details">
                                                  <tr class="border">
                                                    <td>Sample</td>
                                                    <td>Sample</td>
                                                    <td>Sample</td>
                                                    <td>
                                                        <button type="button" class="btn text-white text-center" id ="delete-category" data-bs-toggle="modal" data-bs-target="#deleteModal" style="background-color: #80190A;"><i class="fa-solid fa-trash"></i></button>
                                                        <button type="button" class="btn text-white text-center" id ="edit-category" style="background-color: #80190A;"><i class="fa-solid fa-pen-to-square"></i></button>
                                                    </td>
                                                </tr>
                                                </tbody>
                                              </table>
                                        </div>
                                    </div>

                                    <!--- Add Category Modal  -->
                                   <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                                    aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-sm  modal-dialog-centered">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="pills-login-tab"
                                                tabindex="0">
                                                <div class="form-floating">
                                                    <input type="text" class="form-control" id="category-name" placeholder="Enter Category Name">
                                                    <label for="cat-name">EnterCategory Name</label>
                                                  </div>
                                                <div class="mt-3">
                                                    <div class=" text-center">
                                                            <a type="submit" id="category-save" href="#" class="btn mb-2 w-100 btn-block rounded text-white"
                                                            style="background-color: #80190A;" onclick="Save()">Save</a>
                                                      </div>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div> 

                                      <!--- Delete Item Modal  -->
                                    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-sm modal-dialog-centered">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container-sm">
                                            <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="pills-login-tab"
                                                tabindex="0">
                                                <div class="form-floating mb-3">
                                                <div class="delete_name">
                                                    <span>Are you sure to Delete <h3 id="category-name"></h3></span>
                                                </div>
                                                </div>
                                                <div class="mt-3">
                                                <div class="delete_btn">
                                                    <a type="submit" href="#" class="btn w-100 btn-block rounded text-white"
                                                    style="background-color: #80190A;" onclick="Delete_Yes()">YES</a>
                                                    <a type="submit" href="#" class="btn w-100 btn-block rounded text-white"
                                                    style="background-color: #80190A;" onclick="Delete_No()">NO</a>
                                                </div>

                                                </div>
                                            </div>
                                            <!-- Delete category Tab -->
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                    </div>
                                    </div>

                              </div>
                        </div>
                    </div>
                </main>
            </div>

            {{end}}