{{define "title"}}
<title>{{.Title}}</title>
{{end}}

{{define "content"}}
            <!--Category Content-->
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid ">
                        <h1 class="mt-4">Product Inventory</h1>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active">Product Category</li>
                        </ol>
                        <hr style="height:3px;border-width:0;color:gray;background-color:gray">
                        <div class="container-fluid ">
                            <div class="card shadow">
                                <div class="card-body">
                                    <div class="d-flex justify-content-end">
                                    <div class="row text-center">
                                        <div class=" d-flex justify-content-end">
                                            <div class="d-grid gap-2 d-md-block ">
                                                <a href="" type=button class="btn text-white" style="background-color: #80190A;" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                                onclick="Validate()">ADD CATEGORY</a>
                                                <a href="" class="btn text-white" id="category-report" style="background-color: #80190A;">GENERATE REPORT</a>
                                            </div>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                              </div>
                        </div>
                        <div class="container-fluid mt-3">
                            <div class="card shadow">
                                    <div class="category" id="category">
                                           <!--- Tables -->
                                           <div class="table-responsive py-3 ms-3 me-3">
                                            <table class="table table-bordered text-center">
                                                <thead>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Created By</th>
                                                    <th scope="col">Category Name</th>
                                                    <th scope="col">Action</th>
                                                    </thead>
                                                <tbody id="category-details">
                                                 
                                                </tbody>
                                              </table>
                                        </div>
                                    </div>

                                    <!--- Add Category Modal  -->
                                   <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                                    aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-sm  modal-dialog-centered">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="pills-login-tab"
                                                tabindex="0">
                                                <div class="form-floating">
                                                    <input type="text" class="form-control" id="itemID" placeholder="Enter Category Name" hidden>
                                                    <input type="text" class="form-control" id="category-name" placeholder="Enter Category Name">
                                                    <label for="cat-name">EnterCategory Name</label>
                                                  </div>
                                                <div class="mt-3">
                                                    <div class=" text-center">
                                                        
                                                            <a type="submit" id="category-save" href="#" class="btn mb-2 w-100 btn-block rounded text-white"
                                                            style="background-color: #80190A;" onclick="Save()">Save</a>
                                                            <a type="submit" id="category-modify" href="#" class="btn mb-2 w-100 btn-block rounded text-white"
                                                        style="background-color: #80190A;" onclick="Modify()">Modify</a>
                                                      </div>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div> 

                                      <!--- Delete Item Modal  -->
                                <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-sm modal-dialog-centered">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container-sm">
                                            <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="pills-login-tab"
                                                tabindex="0">
                                                <div class="form-floating mb-3">
                                                <div class="delete_name">
                                                    <input type="text" class="form-control" id="itemID_delete" placeholder="Enter Category Name" hidden>
                                                    <span>Are you sure to Delete <h3 id="categoryname"></h3></span>
                                                </div>
                                                </div>
                                                <div class="mt-3">
                                                <div class="delete_btn">
                                                    <a type="submit" href="#" class="btn w-100 btn-block rounded text-white"
                                                    style="background-color: #80190A;" onclick="Delete_Yes()">YES</a>
                                                    <a type="submit" href="#" class="btn w-100 btn-block rounded text-white"
                                                    style="background-color: #80190A;" onclick="Delete_No()">NO</a>
                                                </div>

                                                </div>
                                            </div>
                                            <!-- Delete category Tab -->
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                    </div>
                                    </div>

                              </div>
                        </div>
                    </div>
                </main>
            </div>

<script>
    function Save() {
        var name = $("#category-name").val();
        if (name == "") {
          // use SweetAlert2 to show an error dialog
          Swal.fire({
            title: 'Error!',
            text: 'Please Complete Required Details',
            icon: 'error',
            confirmButtonText: 'OK'
          });
        } else {
          $.ajax({
            url: "/api/category",
            data: {
              "name": name,
            },
            success: function () {
              // use SweetAlert2 to show a success dialog
              Swal.fire({
                title: 'Success!',
                text: 'Category Added Successfully!',
                icon: 'success',
                confirmButtonText: 'OK'
              }).then((result) => {
                if (result.isConfirmed) {
                  window.location.reload();
                }
              });
            }
          });
        }
      }
    $( document ).ready(function() {
                // use SweetAlert2 to show a success dialog
                Swal.fire({
                  title: 'Success!',
                  text: 'Category Added Successfully!',
                  icon: 'success',
                  confirmButtonText: 'OK'
                }).then((result) => {
                  if (result.isConfirmed) {
                    window.location.reload();
                  }
                });
              }
        })
        }
    }
 $( document ).ready(function() {
        $("#category-modify").hide();
    $("#category-details").empty()
    $.get("/api/get_category", function(index){
    var result = JSON.parse(index).item
    $.each(result, function(_,v){
        $("#category-details").append(`
        <tr class="border">
            <td>`+v.ID+`</td>
            <td>`+v.User.FirstName+` `+v.User.LastName+` </td>
            <td>`+v.Name+`</td>
            <td>
                <button type="button" class="btn text-white text-center" id ="delete-category" data-bs-toggle="modal" data-bs-target="#deleteModal" style="background-color: #80190A;" onclick="Delete(`+v.ID+`)"><i class="fa-solid fa-trash"></i></button>
                <button type="button" class="btn text-white text-center" id ="edit-category" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="background-color: #80190A;" onclick="Validate(`+v.ID+`)"><i class="fa-solid fa-pen-to-square"></i></button>
            </td>
        </tr>
        `)
    })
    })
});



function Validate(id){
    if (id > 0){
        $("#category-save").hide()
        $("#category-modify").show()
    }else{
        $("#category-modify").hide()
        $("#category-save").show()
    }
   
    $.get("/api/get_category", function(index){
    var result = JSON.parse(index).item
    $.each(result, function(_,v){
        if (id == v.ID){
        $("#itemID").val(v.ID)
        $("#category-name").val(v.Name)
        }
    })
})
}

function Modify() {
    var id = $("#itemID").val();
    var name = $("#category-name").val();
  
    if (name == "") {
      // use SweetAlert2 to show an error dialog
      Swal.fire({
        title: 'Error!',
        text: 'Please Complete Required Details',
        icon: 'error',
        confirmButtonText: 'OK'
      });
    } else {
      $.ajax({
        url: "/api/edit_category",
        data: {
          "id": id,
          "name": name,
        },
        success: function () {
          // use SweetAlert2 to show a success dialog
          Swal.fire({
            title: 'Success!',
            text: 'Catgeory Updated Successfully!',
            icon: 'success',
            confirmButtonText: 'OK'
          }).then((result) => {
            if (result.isConfirmed) {
              window.location.reload();
            }
          });
        }
      });
    }
  }

function Delete(id){
    $.get("/api/get_category", function(index){
    var result = JSON.parse(index).item
    $.each(result, function(_,v){
        if (id == v.ID){
        $("#itemID_delete").val(v.ID)   
        $("#categoryname").html(v.Name + "?")
        }
    })
})
}

function Delete_No(){
    window.location.reload()
}

function Delete_Yes() {
    var id = $("#itemID_delete").val();
    $.ajax({
      url: "/api/delete_category",
      data: {
        "id": id,
      },
      success: function () {
        // use SweetAlert2 to show a success dialog
        Swal.fire({
          title: 'Success!',
          text: 'Category Deleted Successfully!',
          icon: 'success',
          confirmButtonText: 'OK'
        }).then((result) => {
          if (result.isConfirmed) {
            window.location.reload();
          }
        });
      }
    });
  }
    </script>

            {{end}}