<!--- BASE -->
{{define "title"}}
<title>{{.Title}}</title>
{{end}}

{{define "content"}}
<!--- BASE -->

            <!--Customer Content-->
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Customer</h1>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active">Customer Details</li>
                        </ol>
                        <hr style="height:3px;border-width:0;color:gray;background-color:gray">

                        <div class="container-fluid mt-3 ">
                            <div class="card shadow">
                                <div class="card-body">
                                    <div class="d-flex justify-content-end">
                                    <div class="row text-center">
                                        <div class=" d-flex justify-content-end">
                                            <div class="d-grid gap-2 d-md-block ">
                                                <a href="" type=button class="btn text-white" style="background-color: #80190A;" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                                onclick="Validate()">ADD CUSTOMER</a>
                                                <a href="" class="btn text-white" id="customer-report" style="background-color: #80190A;">GENERATE REPORT</a>
                                            </div>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                              </div>
                        </div>

                        <div class="container-fluid mt-3">
                            <div class="card shadow">
                                    <div class="customer" id="customer">
                                           <!--- Tables -->
                                           <div class="table-responsive py-3 ms-3 me-3">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Mobile No.</th>
                                                    <th scope="col">Address</th>
                                                    <th scope="col">Action</th>
                                                    </thead>
                                                <tbody id="customer_details">
                                                    
                                                </tbody>
                                              </table>
                                        </div>
                                    </div>


                                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                                    aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-sm  modal-dialog-centered">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Customer </h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="pills-login-tab"
                                                tabindex="0">
                                                <input type="hidden" class="form-control" id="customerID">
                                                <div class="form-floating mb-2">
                                                    <input type="text" class="form-control" id="name" placeholder="name" required>
                                                    <label for="floatingInput">Name</label>
                                                  </div>
                                                  <div class="form-floating mb-2">
                                                      <input type="text" class="form-control" id="mobileNo" placeholder="mobileNo">
                                                      <label for="mobile-no">Mobile No.</label>
                                                  </div>
                                                  <div class="form-floating">
                                                      <input type="text" class="form-control" id="address" placeholder="address">
                                                      <label for="address">Address</label>
                                                  </div>
                                                <div class="mt-3">
                                                    <div class=" text-center">
                                                            <a type="submit" id="customer_save" href="#" class="btn mb-2 w-100 btn-block rounded text-white"
                                                            style="background-color: #80190A;" onclick="Save()">Save</a>
                                                      </div>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                     <!---ADD CUSTOMER MODAL
                                     <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-sm modal-dialog-centered">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Customer </h1>
                                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                              <div class="container">
                                                <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="pills-login-tab" tabindex="0">
                                                    <input type="hidden" class="form-control" id="customerID">
                                                    <div class="form-floating mb-2">
                                                      <input type="text" class="form-control" id="name" placeholder="" required>
                                                      <label for="floatingInput">Name</label>
                                                    </div>
                                                    <div class="form-floating mb-2">
                                                        <input type="text" class="form-control" id="mobileNo" placeholder="">
                                                        <label for="mobile-no">Mobile No.</label>
                                                    </div>
                                                    <div class="form-floating">
                                                        <input type="text" class="form-control" id="address" placeholder="">
                                                        <label for="address">Address</label>
                                                    </div>
                                                    <div class="mt-3">
                                                        <a type="submit" href="#" class="btn w-100 btn-block rounded text-white" onclick="Save()" style="background-color: #80190A;">Save</a>
                                                    </div>
                                                </div>
                                            </div>
                                          </div>
                                        </div>
                                        </div>
                                      </div>--->
        

                                      <!--- Delete Item Modal  
                                    <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                                    aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-sm modal-dialog-centered">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Delete Item</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container-sm">
                                            <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="pills-login-tab"
                                                tabindex="0">

                                                <input type="hidden" class="form-control" id="itemID_delete">
                                                <input type="hidden" class="form-control" id="productID_delete">
                                                <div class="form-floating mb-3">
                                                <div class="delete_nam">
                                                    <span>Are you sure to Delete <h3 id="delete_name"></h3></span>
                                                </div>
                                                </div>
                                                <div class="mt-3">
                                                <div class="delete_btn">
                                                    <a type="submit" href="#" class="btn w-100 btn-block rounded text-white"
                                                    style="background-color: #80190A;" onclick="Delete_Yes()">YES</a>
                                                    <a type="submit" href="#" class="btn w-100 btn-block rounded text-white"
                                                    style="background-color: #80190A;" onclick="Delete_No()">NO</a>
                                                </div>

                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                    </div>
                                      -->
                                    </div>

                              </div>
                        </div>
                    </div>
                </main>
            </div>

  {{end}}
<!----ADD DATA IN DB-->
<script>
    function Save(){
        var   name = $("#name").val()
        var   mobileNo = $("#mobileNo").val()
        var   address = $("#address").val()
       
        if ( name == "" || mobileNo == "" || address == ""){
          /*swal("Please Complete Required Details")*/
          alert("Please Complete Required Details")
        }else{
          $.ajax({
            url: "/api/customer",
            data: {
              "name": name,
              "mobileNo":mobileNo,
              "address": address,
            },
            success: function () {
               /*swal({
                   title: "Item Added Successfully!",
                   icon: "success",
                 });*/
                 alert("Customer Added Successfully!")
                 window.location.reload()
            }
          })
        }
      }
</script>