{{define "title"}}
<title>{{.Title}}</title>
{{end}}

{{define "content"}}

            <!--DASHBOARD CONTENT-->

            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Dashboard</h1>
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                              <button class="nav-link active" id="nav-sales-tab" data-bs-toggle="tab" data-bs-target="#nav-sales" type="button" role="tab" aria-controls="nav-sales" aria-selected="true" onclick="Pick()">Sales</button>
                              <button class="nav-link" id="nav-product_sold-tab" data-bs-toggle="tab" data-bs-target="#nav-product_sold" type="button" role="tab" aria-controls="nav-product_sold" aria-selected="false" onclick="Set()">Product Sold</button>
                              </div>

                              
                          
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <!--- SALES TAB -->
                            <div class="tab-pane fade show active" id="nav-sales" role="tabpanel" aria-labelledby="nav-sales-tab" tabindex="0">
                                <div class="container-fluid mt-3">
                                    <div class="d-flex justify-content-start">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="card" style="width: 15rem; height: 6rem">
                                                    <div class="card-body">
                                                        <h6>No. of Transaction</h6>
                                                        <h2 id="transaction-count"></h2>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="card" style="width: 15rem; height: 6rem">
                                                    <div class="card-body">
                                                        <h6>Total Sales</h6>
                                                        <h2 id="sales-gtotal"></h2>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="container-fluid mt-3">
                                    <div class="card border shadow">
                                        <div class="row">
                                            <div class="col-md-auto py-1 my-1 mx-3">
                                                Date From:
                                                <div class="col-sm">
                                                    <input class="form-control" id="from"  type="date">
                                                </div>
                                            </div>

                                            <div class="col-md-auto py-1 my-1 mx-3">
                                                Date To:
                                                <div class="col-sm">
                                                    <input class="form-control" id="to"  type="date">
                                                </div>
                                            </div>
                                            <!-- <div class="col">
                                                <div class="d-grid gap-2 d-md-block py-2 ">
                                                    <button class="btn text-white" id="daily-sales" type="button" style="background-color: #80190A; height: 4rem; width: 9rem">
                                                        <div class="row">
                                                            <div class="text-center">
                                                                <img src="/static/assets/img/daily.png" class="rounded text-white" alt="..." width="30rem" height="30rem">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="text-center">
                                                                DAILY SALES
                                                            </div>
                                                        </div>
                                                    </button>
                                                    <button class="btn text-white" id="weekly-sales" type="button" style="background-color: #80190A; height: 4rem; width: 9rem">
                                                        <div class="row">
                                                            <div class="text-center">
                                                                <img src="/static/assets/img/weekly.png" class="rounded text-white" alt="..." width="30rem" height="30rem">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="text-center">
                                                                WEEKLY SALES
                                                            </div>
                                                        </div>
                                                    </button>
                                                    <button class="btn text-white " id="monthly-sales" type="button" style="background-color: #80190A; height: 4rem; width: 9rem">
                                                        <div class="row">
                                                            <div class="text-center">
                                                                <img src="/static/assets/img/monthly.png" class="rounded text-white" alt="..." width="30rem" height="30rem">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="px-1">
                                                                MONTHLY SALES
                                                            </div>
                                                        </div>
                                                    </button>
                                                    <button class="btn text-white" id="annually-sales" type="button" style="background-color: #80190A; height: 4rem; width: 11rem">
                                                        <div class="row">
                                                            <div class="text-center">
                                                                <img src="/static/assets/img/annually.png" class="rounded text-white" alt="..." width="30rem" height="30rem">
                                                            </div>
                                                        </div>
                                                        <div class="px-1">
                                                            ANNUALLY SALES
                                                        </div>
                                                    </button>
                                                </div> -->
                                            
                                            <div class="col-md-auto py-3 me-3">
                                                <div class="d-grid d-md-block">
                                                    <a href="" class="btn text-white" id="transaction-report" style="background-color: #80190A;">GENERATE REPORT</a>
                                                </div>
                                            </div>
                                          </div>
                                    </div>
                                  </div>
                                <div class="container-fluid mt-3">
                                    <div class="card shadow">
                                        <!--- Tables -->
                                    <div class="table-responsive py-3 ms-3 me-3" id="trans">
                                        <table class="table table-bordered" >
                                            <thead>
                                                <th>Date</th>
                                                <th>Transaction ID</th>
                                                <th>Total Amount</th>
                                                <th>Cash</th>
                                                <th>Change</th>
                                                <th>Staff Name</th>
                                            </thead>
                                            <tbody id="transaction-details">
                                               
                                            </tbody>
                                          </table>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <!--- PRODUCT SOLD TAB -->
                            <div class="tab-pane fade" id="nav-product_sold" role="tabpanel" aria-labelledby="nav-product_sold-tab" tabindex="0">
                                <div class="container-fluid mt-3">
                                    <div class="d-flex justify-content-start">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="card" style="width: 15rem; height: 6rem">
                                                    <div class="card-body">
                                                        <h6>Product Sold</h6>
                                                        <h2 id="pcs"></h2>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="card" style="width: 15rem; height: 6rem">
                                                    <div class="card-body">
                                                        <h6>Total Sales</h6>
                                                        <h2 id="pcs_total"></h2>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="container-fluid mt-3">
                                    <div class="card border shadow">
                                        <div class="row">
                                            <div class="col-md-auto py-1 my-1 mx-3">
                                                From:
                                                <div class="col-sm">
                                                    <input class="form-control" id="from1"  type="date">
                                                </div>
                                            </div>
                                             <div class="col-md-auto py-1 my-1 mx-3">
                                                To:
                                                <div class="col-sm">
                                                    <input class="form-control" id="to1"  type="date">
                                                </div>
                                            </div>
                                            <!-- <div class="col">
                                                <div class="d-grid gap-2 d-md-block py-2 ">
                                                    <button class="btn  text-white" id="daily-sales" type="button" style="background-color: #80190A; height: 4rem; width: 9rem">
                                                        <div class="row">
                                                            <div class="text-center">
                                                                <img src="/static/assets/img/daily.png" class="rounded text-white" alt="..." width="30rem" height="30rem">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="text-center">
                                                                DAILY SALES
                                                            </div>
                                                        </div>
                                                    </button>
                                                    <button class="btn text-white" id="weekly-sales" type="button" style="background-color: #80190A; height: 4rem; width: 9rem">
                                                        <div class="row">
                                                            <div class="text-center">
                                                                <img src="/static/assets/img/weekly.png" class="rounded text-white" alt="..." width="30rem" height="30rem">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="text-center">
                                                                WEEKLY SALES
                                                            </div>
                                                        </div>
                                                    </button>
                                                    <button class="btn text-white" id="monthly-sales" type="button" style="background-color: #80190A; height: 4rem; width: 9rem">
                                                        <div class="row">
                                                            <div class="text-center">
                                                                <img src="/static/assets/img/monthly.png" class="rounded text-white" alt="..." width="30rem" height="30rem">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="px-1">
                                                                MONTHLY SALES
                                                            </div>
                                                        </div>
                                                    </button>
                                                    <button class="btn text-white" id="annually-sales" type="button" style="background-color: #80190A; height: 4rem; width: 11rem">
                                                        <div class="row">
                                                            <div class="text-center">
                                                                <img src="/static/assets/img/annually.png" class="rounded text-white" alt="..." width="30rem" height="30rem">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="px-1">
                                                                ANNUALLY SALES
                                                            </div>
                                                        </div>
                                                    </button>
                                                </div>
                                            </div> -->
                                            <div class="col-md-auto py-3 me-3">
                                                <div class="d-grid d-md-block">
                                                    <a href="" class="btn text-white" id="product-report" style="background-color: #80190A;">GENERATE REPORT</a>
                                                </div>
                                            </div>
                                          </div>
                                    </div>
                                  </div>
                                  <div class="container-fluid mt-3">
                                    <div class="card shadow">
                                        <!--- Tables -->
                                    <div class="table-responsive py-3 ms-3 me-3" id="item">
                                        <table class="table table-bordered">
                                            <thead>
                                                <th>Product Name</th>
                                                <th>Quantity</th>
                                                <th>Total Amount</th>
                                                <th>Date</th>
                                            </thead>
                                            <tbody id="product-sold-details">
                                               
                                            </tbody>
                                          </table>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script>

$( document ).ready(function() {
    
    $("tbody").empty()
    var count = 0;
    var total = 0;
    $.get("/api/get_order", function(index){
        var result = JSON.parse(index).order
        $.each(result, function(_,v){
            count += 1
            total += v.GrandTotal
            
            $("#transaction-details").append(`
            <tr class="border">
                <td>`+v.Date+`</td>
                <td>`+v.ID+`</td>
                <td>`+v.GrandTotal+`</td>
                <td>`+v.Payment+`</td>
                <td>`+v.Change+`</td>
                <td>`+v.User.FirstName+` `+v.User.LastName+`</td>
            </tr>
        `)
        })
        $("#transaction-count").html(count)
        $("#sales-gtotal").html(total.toFixed(2))

        var result1 = JSON.parse(index).orderlines
        var count1 = 0;
        var total1 = 0;
        var result2 = 0;
        $.each(result1, function(_,v){
            count1 += parseFloat(v.Quantity)
           
            total1 = parseFloat(v.Quantity) * parseFloat(v.Item.Price)
            result2 += parseFloat(total1)
            $("#product-sold-details").append(`
            <tr class="border">

            <td>`+v.Item.Name+`</td>
            <td>`+v.Quantity+`</td>
            <td>`+total1+`</td>
            <td>
                `+v.Date+`
            </td>
                                                
            </tr>
        `)
        })
        $("#pcs").html(count1)
        $("#pcs_total").html(result2.toFixed(2))
    })
        
})


$("#from").change(function () {  
var from = $("#from").val()
var dateString = moment(from).format('YYYY-DD-MM');

$("tbody").empty()
    var count = 0;
    var total = 0;
    $.get("/api/get_order", function(index){
        var result = JSON.parse(index).order
        $.each(result, function(_,v){
            if(dateString == v.Date){
                count += 1
                total += v.GrandTotal
                
                $("#transaction-details").append(`
                <tr class="border">
                    <td>`+v.Date+`</td>
                    <td>`+v.ID+`</td>
                    <td>`+v.GrandTotal+`</td>
                    <td>`+v.Payment+`</td>
                    <td>`+v.Change+`</td>
                    <td>`+v.User.FirstName+` `+v.User.LastName+`</td>
                </tr>
            `)
            }
        })
        $("#transaction-count").html(count)
        $("#sales-gtotal").html(total.toFixed(2))

    })

})

$("#to").change(function () {  
var from = $("#from").val()
var dateString = moment(from).format('YYYY-DD-MM');
var to = $("#to").val()
var dateString1 = moment(to).format('YYYY-DD-MM');

$.ajax({
        url: "/api/search",
        data: {
          "from": dateString,
          "to":dateString1,
        },
        success: function (res) {
    var result = JSON.parse(res).order
    $("tbody").empty()
    var count = 0;
    var total = 0;
      $.each(result, function (_, v) {
        count += 1
        total += v.GrandTotal
        
        $("#transaction-details").append(`
        <tr class="border">
            <td>`+v.Date+`</td>
            <td>`+v.ID+`</td>
            <td>`+v.GrandTotal+`</td>
            <td>`+v.Payment+`</td>
            <td>`+v.Change+`</td>
            <td>`+v.User.FirstName+` `+v.User.LastName+`</td>
        </tr>
        `)
      })
      $("#transaction-count").html(count)
        $("#sales-gtotal").html(total.toFixed(2))
    }
    })
})
function Set(){
    $("#trans").hide()
    $("#item").show()
}

function Pick(){
    $("#trans").show()
    $("#item").hide()
}

$("#from1").change(function () {  
var from = $("#from1").val()
var dateString = moment(from).format('YYYY-DD-MM');

$("tbody").empty()
        var count1 = 0;
        var total1 = 0;
        var result2 = 0;
    $.get("/api/get_order", function(index){
        var result = JSON.parse(index).orderlines
        $.each(result, function(_,v){
            if(dateString == v.Date){
                count1 += parseFloat(v.Quantity)
           
           total1 = parseFloat(v.Quantity) * parseFloat(v.Item.Price)
           result2 += parseFloat(total1)
           $("#product-sold-details").append(`
           <tr class="border">

           <td>`+v.Item.Name+`</td>
           <td>`+v.Quantity+`</td>
           <td>`+total1+`</td>
           <td>
               `+v.Date+`
           </td>
                                               
           </tr>
       `)
            }
        })
        $("#pcs").html(count1)
        $("#pcs_total").html(result2.toFixed(2))

    })

})

$("#to1").change(function () {  
var from = $("#from1").val()
var dateString = moment(from).format('YYYY-DD-MM');
var to = $("#to1").val()
var dateString1 = moment(to).format('YYYY-DD-MM');

$.ajax({
        url: "/api/search",
        data: {
          "from": dateString,
          "to":dateString1,
        },
        success: function (res) {
    var result = JSON.parse(res).orderlines
    $("tbody").empty()
    var count1 = 0;
        var total1 = 0;
        var result2 = 0;
      $.each(result, function (_, v) {
        count1 += parseFloat(v.Quantity)
           
           total1 = parseFloat(v.Quantity) * parseFloat(v.Item.Price)
           result2 += parseFloat(total1)
           $("#product-sold-details").append(`
           <tr class="border">

           <td>`+v.Item.Name+`</td>
           <td>`+v.Quantity+`</td>
           <td>`+total1+`</td>
           <td>
               `+v.Date+`
           </td>
                                               
           </tr>
       `)
      })
      $("#pcs").html(count1)
        $("#pcs_total").html(result2.toFixed(2))
    }
    })
})
</script>
        {{end}}
