{{define "title"}}
<title>{{.Title}}</title>
{{end}}

{{define "content"}}

            <!--DASHBOARD CONTENT-->

            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Dashboard</h1>
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                              <button class="nav-link active" id="nav-sales-tab" data-bs-toggle="tab" data-bs-target="#nav-sales" type="button" role="tab" aria-controls="nav-sales" aria-selected="true">Sales</button>
                              <button class="nav-link" id="nav-product_sold-tab" data-bs-toggle="tab" data-bs-target="#nav-product_sold" type="button" role="tab" aria-controls="nav-product_sold" aria-selected="false">Product Sold</button>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <!--- SALES TAB -->
                            <div class="tab-pane fade show active" id="nav-sales" role="tabpanel" aria-labelledby="nav-sales-tab" tabindex="0">
                                <div class="container-fluid mt-3">
                                    <div class="d-flex justify-content-start">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="card" style="width: 15rem; height: 6rem">
                                                    <div class="card-body">
                                                        <h6>No. of Transaction</h6>
                                                        <h2 id="transaction-count">0</h2>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="card" style="width: 15rem; height: 6rem">
                                                    <div class="card-body">
                                                        <h6>Total Sales</h6>
                                                        <h2 id="sales-gtotal">0.0</h2>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="container-fluid mt-3">
                                    <div class="card border shadow">
                                        <div class="row">
                                            <div class="col-md-auto py-1 my-1 mx-3">
                                                Select date:
                                                <div class="col-sm">
                                                    <input class="form-control" id="sales-date-picker"  type="date">
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="d-grid gap-2 d-md-block py-2 ">
                                                    <button class="btn text-white" id="daily-sales" type="button" style="background-color: #80190A; height: 4rem; width: 9rem">
                                                        <div class="row">
                                                            <div class="text-center">
                                                                <img src="/static/assets/img/daily.png" class="rounded text-white" alt="..." width="30rem" height="30rem">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="text-center">
                                                                DAILY SALES
                                                            </div>
                                                        </div>
                                                    </button>
                                                    <button class="btn text-white" id="weekly-sales" type="button" style="background-color: #80190A; height: 4rem; width: 9rem">
                                                        <div class="row">
                                                            <div class="text-center">
                                                                <img src="/static/assets/img/weekly.png" class="rounded text-white" alt="..." width="30rem" height="30rem">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="text-center">
                                                                WEEKLY SALES
                                                            </div>
                                                        </div>
                                                    </button>
                                                    <button class="btn text-white " id="monthly-sales" type="button" style="background-color: #80190A; height: 4rem; width: 9rem">
                                                        <div class="row">
                                                            <div class="text-center">
                                                                <img src="/static/assets/img/monthly.png" class="rounded text-white" alt="..." width="30rem" height="30rem">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="px-1">
                                                                MONTHLY SALES
                                                            </div>
                                                        </div>
                                                    </button>
                                                    <button class="btn text-white" id="annually-sales" type="button" style="background-color: #80190A; height: 4rem; width: 11rem">
                                                        <div class="row">
                                                            <div class="text-center">
                                                                <img src="/static/assets/img/annually.png" class="rounded text-white" alt="..." width="30rem" height="30rem">
                                                            </div>
                                                        </div>
                                                        <div class="px-1">
                                                            ANNUALLY SALES
                                                        </div>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col-md-auto py-3 me-3">
                                                <div class="d-grid d-md-block">
                                                    <a href="" class="btn text-white" id="transaction-report" style="background-color: #80190A;">GENERATE REPORT</a>
                                                </div>
                                            </div>
                                          </div>
                                    </div>
                                  </div>
                                <div class="container-fluid mt-3">
                                    <div class="card shadow">
                                        <!--- Tables -->
                                    <div class="table-responsive py-3 ms-3 me-3">
                                        <table class="table table-bordered">
                                            <thead>
                                                <th>Transaction ID</th>
                                                <th>Total Amount</th>
                                                <th>Cash</th>
                                                <th>Change</th>
                                                <th>Staff Name</th>
                                            </thead>
                                            <tbody id="transaction-details">
                                                <tr class="border">
                                                    <td>Sample</td>
                                                    <td>Sample</td>
                                                    <td>Sample</td>
                                                    <td>Sample</td>
                                                    <td>Sample</td>
                                                </tr>
                                            </tbody>
                                          </table>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <!--- PRODUCT SOLD TAB -->
                            <div class="tab-pane fade" id="nav-product_sold" role="tabpanel" aria-labelledby="nav-product_sold-tab" tabindex="0">
                                <div class="container-fluid mt-3">
                                    <div class="d-flex justify-content-start">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="card" style="width: 15rem; height: 6rem">
                                                    <div class="card-body">
                                                        <h6>Product Sold</h6>
                                                        <h2 id="pcs">0</h2>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="card" style="width: 15rem; height: 6rem">
                                                    <div class="card-body">
                                                        <h6>Total Sales</h6>
                                                        <h2 id="gtotal">0.0</h2>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="container-fluid mt-3">
                                    <div class="card border shadow">
                                        <div class="row">
                                            <div class="col-md-auto py-1 my-1 mx-3">
                                                Select date:
                                                <div class="col-sm">
                                                    <input class="form-control" id="product-date-picker"  type="date">
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="d-grid gap-2 d-md-block py-2 ">
                                                    <button class="btn  text-white" id="daily-sales" type="button" style="background-color: #80190A; height: 4rem; width: 9rem">
                                                        <div class="row">
                                                            <div class="text-center">
                                                                <img src="/static/assets/img/daily.png" class="rounded text-white" alt="..." width="30rem" height="30rem">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="text-center">
                                                                DAILY SALES
                                                            </div>
                                                        </div>
                                                    </button>
                                                    <button class="btn text-white" id="weekly-sales" type="button" style="background-color: #80190A; height: 4rem; width: 9rem">
                                                        <div class="row">
                                                            <div class="text-center">
                                                                <img src="/static/assets/img/weekly.png" class="rounded text-white" alt="..." width="30rem" height="30rem">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="text-center">
                                                                WEEKLY SALES
                                                            </div>
                                                        </div>
                                                    </button>
                                                    <button class="btn text-white" id="monthly-sales" type="button" style="background-color: #80190A; height: 4rem; width: 9rem">
                                                        <div class="row">
                                                            <div class="text-center">
                                                                <img src="/static/assets/img/monthly.png" class="rounded text-white" alt="..." width="30rem" height="30rem">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="px-1">
                                                                MONTHLY SALES
                                                            </div>
                                                        </div>
                                                    </button>
                                                    <button class="btn text-white" id="annually-sales" type="button" style="background-color: #80190A; height: 4rem; width: 11rem">
                                                        <div class="row">
                                                            <div class="text-center">
                                                                <img src="/static/assets/img/annually.png" class="rounded text-white" alt="..." width="30rem" height="30rem">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="px-1">
                                                                ANNUALLY SALES
                                                            </div>
                                                        </div>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col-md-auto py-3 me-3">
                                                <div class="d-grid d-md-block">
                                                    <a href="" class="btn text-white" id="product-report" style="background-color: #80190A;">GENERATE REPORT</a>
                                                </div>
                                            </div>
                                          </div>
                                    </div>
                                  </div>
                                  <div class="container-fluid mt-3">
                                    <div class="card shadow">
                                        <!--- Tables -->
                                    <div class="table-responsive py-3 ms-3 me-3">
                                        <table class="table table-bordered">
                                            <thead>
                                                <th>Product Name</th>
                                                <th>Quantity</th>
                                                <th>Total Amount</th>
                                                <th>Date</th>
                                            </thead>
                                            <tbody id="product-sold-details">
                                                <tr class="border">
                                                    <td>Sample</td>
                                                    <td>Sample</td>
                                                    <td>Sample</td>
                                                    <td>
                                                        
                                                    </td>
                                                </tr>
                                            </tbody>
                                          </table>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        {{end}}
