 <!--- BASE  -->
 {{define "title"}}
 <title>{{.Title}}</title>
 {{end}}
 
 {{define "content"}}
 <!--- BASE  -->

            <!--POS CONTENT-->
            <div id="layoutSidenav_content">
                <main>
                 <div class="container-fluid mt-3">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="card shadow" >
                                    <div class="card-body">
                                        <div class="row g-3">
                                            <!-- <div class="col-md-auto">
                                                <select class="form-select" id="product-category" aria-label="Default select example">
                                                  </select>
                                            </div>
                                            <div class="col-md-auto">
                                              <select class="form-select sub-category" id="sub_category_search" >
                                                <option value="1">Sub-Category</option>
                                              </select>
                                          </div> -->
                                            <div class="col-sm">
                                                <div class="input-group mb-1">
                                                    <select class="form-select form-select-md category" id="customer" aria-describedby="button-addon2">
                                                        
                                                    </select>
                                                    <button class="btn text-white" id="add-customer" style="background-color: #1fa708;" data-bs-toggle="modal" data-bs-target="#staticBackdrop1"><i class="fas fa-regular fa-user-plus"></i></i></button>
                                                  </div>
                                            </div>
                                            <div class="col-md-auto">
                                              <!--- Search -->
                                              <div class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                                                <div class="searchdiv">
                                                    <input type="text" id="search-product" placeholder="Search Product" style="
                                                        width: 40rem;
                                                        outline: none;
                                                        border: none;
                                                        text-indent: 10px;
                                                        font-family: 'Poppins', sans-serif;
                                                        font-weight: bold;
                                                        height: 2.5rem;
                                                        font-size: 1rem;
                                                        border-radius: 5rem 0rem 0rem 5rem;
                                                        background-color: rgb(250, 247, 247);
                                                        text-transform: capitalize;">
                                                      <button style="
                                                        width: 3rem;
                                                        outline: none;
                                                        border: none;
                                                        height: 2.5rem;
                                                        border-radius: 0rem 5rem 5rem 0rem;
                                                        background-color: rgb(250, 247, 247);
                                                        margin-left: -20px;" onclick="Search()">
                                                        <svg
                                                          xmlns="http://www.w3.org/2000/svg"
                                                          width="16"
                                                          height="16"
                                                          fill="currentColor"
                                                          class="bi bi-search"
                                                          viewBox="0 0 16 16">
                                                          <path
                                                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                                                          />
                                                        </svg>
                                                    </button>
                                                 </div>
                                                </div>
                                            </div>
                                          </div>
                                    </div>
                                  </div>
                                <div class="row mt-2">
                                    <div class="col">
                                    <!--- Product list display  -->
                                    <div class="card shadow" style=" height: 29rem;">
                                        <div class="card-body" style="    overflow: auto;">

                                          <div class="form-group mb-2">
                                            <label for="productCategory">Item</label>
                                            <select
                                              class="form-control"
                                              id="productItem"
                                              name="productCategory"
                                              required
                                            ></select>
                                          </div>
                                             <!--- Tables -->
                                           <div class="table-responsive py-3 ms-3 me-3">
                                            <table class="table table-bordered text-center">
                                                <thead>
                                                  <th scope="col">ID</th>
                                                  <th scope="col">Product Name</th>
                                                  <th scope="col">Color</th>
                                                  <th scope="col">Size</th>
                                                  <th scope="col">Retail Price</th>
                                                    <th scope="col">Add to Cart</th>
                                                </thead>
                                                <tbody id="product_stock_status">
                                                    
                                                </tbody>
                                              </table>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card shadow" style=" height: 35rem;">
                                    <div class="row">
                                        <div class="container-fluid mt-1" style="     overflow-x: auto; height: 19rem; width: 21rem; 
                                        border-right:solid rgb(240, 240, 240) 1px;
                                        border-bottom:solid rgb(240, 240, 240) 1px;">
                                            <h5 class="text-center mt-1">Order list</h5>
                                            <div id="itemList">
                                            
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-1">
                                        <div class="container-fluid" style=" height: 11rem; width: 21rem; ">
                                          <div style="display: flex;
                                          justify-content: space-between;">
                                            <p style="margin: 0">Subtotal: </p>
                                            <p style="margin: 0" id="subtotal"> </p>
                                          </div>  
                                           
                                            <div style="display: flex;
                                            justify-content: space-between;">
                                            <div>
                                             <p style="margin: 0;display:inline">Discount </p>
                                            <button class="btn text-white" id ="add-discount" data-bs-toggle="modal" data-bs-target="#staticBackdrop2"
                                            style="background-color: #80190A;
                                            text-align: center;
                                            text-decoration: none;
                                            display: inline-block;
                                            font-size: 7px;">
                                            <i class="fas fa-plus"></i>
                                            </button>
                                          </div>
                                            <p style="margin: 0" id="total_discount"> </p>
                                            </div>
                                            <div style="display: flex;
                                            justify-content: space-between;">
                                            <div style="display: flex;
                                            gap: 5px;">
                                              <p style="margin: 0">Vat: </p>
                                              <button class="btn text-white" id ="add-discount" data-bs-toggle="modal" data-bs-target="#vat"
                                              style="background-color: #80190A;
                                              text-align: center;
                                              text-decoration: none;
                                              display: inline-block;
                                              font-size: 7px;">
                                              <i class="fas fa-plus"></i>
                                              </button>
                                            </div>
                                            <p style="margin: 0" id="total_vat"> </p>
                                          </div>
                                            <div style="display: flex;
                                            justify-content: space-between;">
                                              <h5>Grand Total: </h5>
                                              <p style="margin: 0" id="grand_total"> </p>
                                            </div>
                                            <div class="row mb-3">
                                              <div class="col">
                                                <p style="display:inline">Cash Received</p>
                                                <input type="number" step="0.01" min="0" id="cash-received" class="form-control">
                                              </div>
                                                <div class="col">
                                                    <p style="display:inline">Change</p>
                                                    <input type="text" id="change" class="form-control" readonly disabled>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="container-fluid mt-2" style="width: 21rem; ">
                                    <div class="row">
                                        <div class="col">
                                            <button class="btn text-white w-100" id="save" style="background-color: #80190A;" onclick="Payment()">Proceed</button>
                                        </div>
                                        <div class="col">
                                            <button class="btn text-white w-100" id="cancel" style="background-color: #80190A;" onclick="Cancel()">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                               </div>
                            </div>
                        </div>
                    </div>
                 </div>
                </main>
            </div>
        </div>

        <!---ADD CUSTOMER--->
        <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Customer </h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="container">
                    <!-- INPUT FORM -->
                    <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="pills-login-tab" tabindex="0">
                        <input type="hidden" class="form-control" id="customerId">
                        <div class="form-floating mb-2">
                          <input type="text" class="form-control" id="name" placeholder="Name" required>
                          <label for="name">Name</label>
                        </div>
                        <div class="form-floating mb-2">
                            <input type="text" class="form-control" id="mobile-no" placeholder="mobile-no">
                            <label for="mobile-no">Mobile No.</label>
                        </div>
                        <div class="form-floating">
                            <input type="text" class="form-control" id="address" placeholder="Address">
                            <label for="address">Address</label>
                        </div>
                        <div class="mt-3">
                            <a type="submit" id="customer_save" href="#" class="btn w-100 btn-block rounded text-white" style="background-color: #7a7a7a;" onclick="Update()">Save</a>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            </div>
          </div>

        <!---ADD DISCOUNT--->
        <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel">Select Discount </h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="container">
                    <div class="col">
                      <input
                        type="number"
                        pattern="^[a-zA-Z0-9]+$"
                        min="0"
                        oninput="validity.valid||(value='');"
                        class="form-control"
                        id="discount"
                      />
                    </div>
                    <div class="col" style="width: 100%;
                    text-align: center;
                    padding: 1rem;">
                      <button
                        class="btn text-white"
                        id="stock-save"
                        type="button"
                        style="background-color: #80190a"
                        onclick="Discount()"
                      >
                        Apply
                      </button>
                    </div>
                </div>
              </div>
            </div>
            </div>
          </div>

               <!---ADD VAT--->
        <div class="modal fade" id="vat" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Select Vat</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="container">
                  <div class="col">
                    <div style="margin-bottom: 1rem;">
                      <select class="form-select form-select-md category" id="vat_type" aria-describedby="button-addon2">
                               <option value="1">Inclusive</option>  
                               <option value="2">Exclusive</option>                          
                      </select>
                    </div>
                    <input
                      type="number"
                      pattern="^[a-zA-Z0-9]+$"
                      min="0"
                      oninput="validity.valid||(value='');"
                      class="form-control"
                      id="vat_amount"
                    />
                  </div>
                  <div class="col" style="width: 100%;
                  text-align: center;
                  padding: 1rem;">
                    <button
                      class="btn text-white"
                      id="stock-save"
                      type="button"
                      style="background-color: #80190a"
                      onclick="Vat()"
                    >
                      Apply
                    </button>
                  </div>
              </div>
            </div>
          </div>
          </div>
        </div>

             <!---ADD TO CART--->
        <div class="modal fade" id="addtocart" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="item_name"> </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="container">
                  <div style="display: flex;
                  width: 100%;
                  justify-content: space-between;">
                    <span id="price"></span>
                    <span id="stock"></span>
                  </div>
                  <input type="text" id="itemID" value="" hidden>
                  <input type="text" id="itemname" value="" hidden>
                  <input type="text" id="itemprice" value="" hidden>
                  <input type="text" id="itemstock" value="" hidden>
                  <div class="col-md-auto">
                    <label for="stock-received" class="col-form-label"
                      >Quantity:</label
                    >
                  </div>
                  <div class="col">
                    <input
                      type="number"
                      pattern="^[a-zA-Z0-9]+$"
                      min="0"
                      oninput="validity.valid||(value='');"
                      class="form-control"
                      id="count"
                    />
                  </div>
                  <div class="col" style="
                  text-align: center;
                  padding: 1rem;">
                    <button
                      class="btn text-white"
                      id="stock-save"
                      type="button"
                      style="background-color: #7a7a7a;"
                      onclick="Save()"
                    >
                      SAVE
                    </button>
                  </div>
              </div>
            </div>
          </div>
          </div>
        </div>
        
        <script>
       
$( document ).ready(function() {

    $("tbody").empty()

  $("#customer").empty()
  $.get("/api/get_customer", function(index){
    var result = JSON.parse(index).item
    $.each(result, function(_,v){
      $("#customer").append(`
        <option value="`+v.Name+`">`+v.Name+`</option>
      `)
    })
  })
  $("#product-category").empty()
  $("#product-category").append(`
        <option value="0">Select Category</option>
      `)
  $.get("/api/get_category", function(index){
    var result = JSON.parse(index).item
    $.each(result, function(_,v){
      $("#product-category").append(`
        <option value="`+v.ID+`">`+v.Name+`</option>
      `)
    })
  })

  $("#productItem").empty();
      $("#productItem").append(`
      <option value="0">Select Item</option>
      `);
      $.get("/api/get_item", function (index) {
        var result = JSON.parse(index).item;
        $.each(result, function (_, v) {
          $("#productItem").append(
            `
         <option value="` +
              v.ID +
              `">` +
              v.Name +
              `</option>
           `
          );
        });
      });


  var cart = localStorage.getItem("cart");

    if (cart === null || cart === "" || cart === " ") {
        localStorage.removeItem("discount")
        localStorage.removeItem("status")
        $("#save").attr("disabled", "disabled");
  $("#cash-received").attr("disabled", "disabled");
  $("#changed").attr("disabled", "disabled");
    } else {
      $("#cash-received").removeAttr("disabled");
           
      cart = JSON.parse(cart);
      $("#itemList").empty()
      var subtotal = 0.00
      var itemcount = 0.00
      $.each(cart, function (k, v) {
        subtotal += parseFloat(v.total)
        itemcount += parseFloat(v.quantity)
        $("#itemList").append(`
        <div style="display: flex;
            justify-content: space-between;">
            <div>
              <p>`+v.name+`</p>
            </div>
            <div><button type="button" class="btn btn-sm btn-block" onclick="Remove(`+v.itemid+`)">
              <i class="fa-regular fa-x fa-sm" style="color: #df1111;"></i></i>
            </button></div>          
            </div>
            <div style="display: flex;
            justify-content: space-between;">
            <div style="display: flex;
            gap: 6px;">
              <p>`+v.price+`</p> <p>x</p> <p>`+v.quantity+`</p>
            </div>
            <div>
              <p>`+v.total+`</p>
            </div>
          </div>
        `)
      })
      // Display of subtotal
      $("#subtotal").html(subtotal.toFixed(2))

      // Display of Discount
      var discount = 0;
      var disc = localStorage.getItem("Discount")

      if (disc === null || disc === "" || disc === " "){
        $("#total_discount").html("0.00")
      }else{
        discount = parseFloat(subtotal) * parseFloat(disc)      
        $("#total_discount").html(discount.toFixed(2))
      }


       // Display of Vat
       var vat = 0;
       var vat_total = 0;
       var type = localStorage.getItem("Type")
      var vat_val = localStorage.getItem("Vat")

      if (type === null || type === "" || type === " "){
        $("#total_vat").html("0.00")
      }else{  
        if(type == 1){
          vat = (parseFloat(subtotal) - parseFloat(discount)) * parseFloat(vat_val)
          $("#total_vat").html( "(" + vat.toFixed(2) + ")")
        }else{
          vat_total = (parseFloat(subtotal) - parseFloat(discount)) - ((parseFloat(subtotal) - parseFloat(discount)) / (parseFloat(1) + parseFloat(vat_val)))
          $("#total_vat").html(vat_total.toFixed(2))
        }
      }


       // Display of Grand Total
      var g_total = 0;
      g_total = parseFloat(subtotal) + parseFloat(vat_total) - parseFloat(discount)
      $("#grand_total").html(g_total.toFixed(2))
    }

})

$("#productItem").change(function (e) {
      var search = $("#productItem").val();
      $("#product_stock_status").empty();
      $.get("/api/get_subitem", function (index) {
        var result = JSON.parse(index).item;
        $.each(result, function (_, v) {
          console.log(result);
          if (search == v.ItemID) {
            appendData(
              v.Item.Code,
              v.Item.Name,
              v.Color,
              v.size,
              v.RetailedPrice,
              v.ID
            );
          }
          if (search == 0) {
            $("#product_stock_status").empty();
          }
        });
      });
    });


function appendData(Code,Name,Color,Size,Price,ID){

  var sizedata;
      if (Size == 1) {
        sizedata = "Extra_Small";
      } else if (Size == 2) {
        sizedata = "Small";
      } else if (Size == 3) {
        sizedata = "Medium";
      } else if (Size == 4) {
        sizedata = "Large";
      } else if (Size == 5) {
        sizedata = "Extra_Large";
      } else {
        sizedata = "Others";
      }
 
  $("#product_stock_status").append(`
        <tr class="border">
              <td>`+Code+`</td>
              <td>`+Name+`</td>
              <td>`+Color+`</td>
              <td>`+sizedata+`</td>
              <td>`+Price+`</td>
              <td><button type="button" class="btn text-white text-center text-white" id ="edit-category" data-bs-toggle="modal" data-bs-target="#addtocart" style="background-color: #1fa708;" onclick="View(`+ID+`)"><i class="fas fa-regular fa-cart-shopping" ></i></button></td>
          </tr>
        `)
     
}

$("#product-category").change(function () {
  var result1 = $("#product-category").val()
  $("tbody").empty()
    $.get("/api/get_item", function(index){
    var result = JSON.parse(index).item
    $.each(result, function(_,v){
      if(result1 == v.CategoryID){
        appendData(v.Code,v.Name,v.Category.Name,v.Description,v.Price,v.ID)
      }

      if(result1 == 0){
        appendData(v.Code,v.Name,v.Category.Name,v.Description,v.Price,v.ID)
      }
     
    })
  })
  })

  function Search(){
    var result1 = $("#search-product").val()
    $("tbody").empty()
    $.get("/api/get_subitem", function(index){
    var result = JSON.parse(index).item
    $.each(result, function(_,v){
      if(result1 == v.Item.Name){
        appendData(
              v.Item.Code,
              v.Item.Name,
              v.Color,
              v.size,
              v.RetailedPrice,
              v.ID
            );
      }

      if(result1 == "" || result1 == " "){
        appendData(
              v.Item.Code,
              v.Item.Name,
              v.Color,
              v.size,
              v.RetailedPrice,
              v.ID
            );
      }
     
    })
  })
  }

  function View(id){
    $.get("/api/get_subitem", function(index){
    var result = JSON.parse(index).item
    $.each(result, function(_,v){
      if (id == v.ID){
        $("#itemID").val(id)
        $("#itemname").val(v.Item.Name)
        $("#itemprice").val(v.RetailedPrice)
        $("#itemstock").val(v.Quantity)
        $("#item_name").html(v.Item.Name)
        $("#price").html("Price: " + v.RetailedPrice)
        $("#stock").html("Stock: " + v.Quantity)
      }
      
    })
    })
  }

  function LessCount(id,count,func){
    $.ajax({
         url: "/api/lesscount",
         data: {
            "id": id,
            "count":count,
            "func": func
         },
         success: function () {
        }
       })
  }

  function Save(){
    
    var cart = localStorage.getItem("cart");
    var quantity = $("#count").val();
    var item_quantity = $("#itemstock").val()
  
    if (parseFloat(item_quantity) >=  parseFloat(quantity)){
    //  * Initial adding of item in the cart
    if (cart === null || cart === "" || cart === " ") {
      cart = [];
      var name = $("#itemname").val();
      var quantity = $("#count").val();
      var id = $("#itemID").val();
      var price = $("#itemprice").val();

      var total = parseFloat(price) * parseFloat(quantity)
      cart.push({
        itemid: id,
        name: name,
        quantity: quantity,
        price: price,
        total: total,
      });
      LessCount(id,quantity,0)
      localStorage.setItem("cart", JSON.stringify(cart));
      Swal.fire({
        toast: true,
        position: "bottom-end",
        icon: 'success',
        title: 'Add Item to Cart',
        showConfirmButton: false,
        timer: 3000
      }).then(function(){ 
        
          location.reload();
          }) 
    }
    else {
      cart = JSON.parse(cart);
      var added = false;
      var id = $("#itemID").val();
      //* Adding the quantity of the same item in the cart
      $.each(cart, function (k, v) {
        if (v.itemid == id) {
          var temp = v;
          var quantity = $("#count").val();
          temp.quantity = (
            parseFloat(temp.quantity) + parseFloat(quantity)
          ).toString();
          temp.total = (
            parseFloat(temp.price) * parseFloat(temp.quantity)
          ).toString();

          cart.push(temp);
          cart.pop();
          added = true;
          LessCount(id,quantity,0)
          localStorage.setItem("cart", JSON.stringify(cart));
          Swal.fire({
           toast: true,
            position: "bottom-end",
            icon: 'success',
            title: 'Add Item to Cart',
            showConfirmButton: false,
            timer: 3000
          }).then(function(){ 
           
          location.reload();
          }) 
        }
      });

      //* Adding of another item to cart
      if (!added) {
        var name = $("#itemname").val();
        var quantity = $("#count").val();
        var id = $("#itemID").val();
        var price = $("#itemprice").val();

        var total = parseFloat(price) * parseFloat(quantity)
        cart.push({
          itemid: id,
          name: name,
          quantity: quantity,
          price: price,
          total: total,
        });
        LessCount(id,quantity,0)
        localStorage.setItem("cart", JSON.stringify(cart));
        Swal.fire({
            toast: true,
            position: "bottom-end",
            icon: 'success',
            title: 'Add Item to Cart',
            showConfirmButton: false,
            timer: 3000
          }).then(function(){ 
       
          location.reload();
          }) 
        localStorage.removeItem("Cash")
      }
    }
  }else{
      Swal.fire({
             toast: true,
            position: "bottom-end",
            icon: 'warning',
            title: 'Insufficient Amount',
            showConfirmButton: false,
            timer: 3000
          }).then(function(){ 
          location.reload();
          }) 
      $("#count").val("");
     
    }  
}

function Remove(id){
    var cart = JSON.parse(localStorage.getItem("cart"));
      $.each(cart, function (k, v) {
        if (id == v.itemid){
          LessCount(id,v.quantity,1)
        }

      })

      cart = cart.filter((data) => data.itemid != id);
    console.log(cart,id)
    localStorage.removeItem("cart");
    localStorage.setItem("cart", JSON.stringify(cart));

    if (cart == null || cart == "" || cart == " ") {
      localStorage.removeItem("cart")
      localStorage.removeItem("Discount")
      localStorage.removeItem("Vat")
      localStorage.removeItem("Type")
    }

    window.location.reload()
  }

  function Discount(){
    var subtotal = $("#subtotal").html()
    var discount = $("#discount").val()
    var total =  (parseFloat(discount) / 100)
    localStorage.setItem("Discount",total)
    $("#discount").val("")
    $(".fade").hide()
    window.location.reload()

  }


  function Vat(){
    var type = $("#vat_type").val()
    var vat = $("#vat_amount").val()
    var total =  (parseFloat(vat) / 100)
    localStorage.setItem("Vat",total)
    localStorage.setItem("Type",type)
    $("#vat_amount").val("")
    $(".fade").hide()
    window.location.reload()
  }

    //* Search bar event
$("#cash-received").on("keypress", function(e){
  var total = $("#grand_total").html()
  var cash = $("#cash-received").val()
  if (e.which == 13){
    if (this.value == "" || this.value == " "){
     alert("Input Required Amount")
     $("#save").attr("disabled", "disabled");
    }else if(parseFloat(cash) < parseFloat(total)){
      alert("Input Required Amount")
    } else {
      $("#save").removeAttr("disabled");
      var change = 0;
     change = parseFloat(cash) - parseFloat(total)
     $("#change").val(change.toFixed(2))

    }
  }
})

function Payment(){
  localStorage.removeItem("OrderID")
  var name = $("#customer").val()
    var subtotal = $("#subtotal").html()
    var discount = $("#total_discount").html()
    var vat = $("#total_vat").html()
    var total = $("#grand_total").html()
    var cash = $("#cash-received").val()
    var change = $("#change").val()
    var cart = localStorage.getItem("cart");

    if (cash == ""){
      alert("Plese Input Amount")
    }else{

      $.ajax({
          url: "/api/order",
          data: {
            "cart": cart,
            "subtotal": subtotal,
            "discount": discount,
            "vat": vat,
            "total": total,
            "cash": cash,
            "change": change,
            "name": name,
          },
          success: function (res) {
            var result = JSON.parse(res).id
            localStorage.setItem("OrderID",result)
            Swal.fire({
              toast: true,
              position: "bottom-end",
              icon: 'success',
              title: 'Order Successful',
              showConfirmButton: false,
              timer: 3000
            }).then(function(){ 
              localStorage.removeItem("cart")
      localStorage.removeItem("Discount")
      localStorage.removeItem("Vat")
      localStorage.removeItem("Type")
            location.replace("/item");
            }) 
          }
        })
    }

  }

  function Cancel(){
    localStorage.removeItem("cart")
    localStorage.removeItem("Discount")
    localStorage.removeItem("Vat")
    localStorage.removeItem("Type")
    window.location.reload()
  }


  function Update(){
    var   name = $("#name").val()
      var   mobileNo = $("#mobile-no").val()
      var   address = $("#address").val()

    
   
     
      if ( name == ""){
        /*swal("Please Complete Required Details")*/
        alert("Please Complete Required Details")
      }
      else{
        
        $.ajax({
          url: "/api/customer",
          data: {
            "name": name,
            "mobileNo":mobileNo,
            "address": address,
          },
          success: function () {
             /*swal({
                 title: "Item Added Successfully!",
                 icon: "success",
               });*/
               alert("Customer Added Successfully!")
               window.location.reload()
          }
        })
      }
  }
  
</script>
{{end}}
