 <!--- BASE  -->
 {{define "title"}}
 <title>{{.Title}}</title>
 {{end}}
 
 {{define "content"}}
 <!--- BASE  -->

            <!--POS CONTENT-->
            <div id="layoutSidenav_content">
                <main>
                 <div class="container-fluid mt-3">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="card shadow" >
                                    <div class="card-body">
                                        <div class="row g-3">
                                            <div class="col-sm-5">
                                              <!--- Search -->
                                              <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                                                <div class="searchdiv">
                                                    <input type="text" id="search-product" placeholder="Search Product" style="
                                                        width: 14rem;
                                                        outline: none;
                                                        border: none;
                                                        text-indent: 10px;
                                                        font-family: 'Poppins', sans-serif;
                                                        font-weight: bold;
                                                        height: 2.5rem;
                                                        font-size: 1rem;
                                                        border-radius: 5rem 0rem 0rem 5rem;
                                                        background-color: rgb(250, 247, 247);
                                                        text-transform: capitalize;">
                                                      <button style="
                                                        width: 3rem;
                                                        outline: none;
                                                        border: none;
                                                        height: 2.5rem;
                                                        border-radius: 0rem 5rem 5rem 0rem;
                                                        background-color: rgb(250, 247, 247);
                                                        margin-left: -20px;">
                                                        <svg
                                                          xmlns="http://www.w3.org/2000/svg"
                                                          width="16"
                                                          height="16"
                                                          fill="currentColor"
                                                          class="bi bi-search"
                                                          viewBox="0 0 16 16">
                                                          <path
                                                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                                                          />
                                                        </svg>
                                                    </button>
                                                 </div>
                                            </form>
                                            </div>
                                            <div class="col-sm">
                                                <select class="form-select" id="product-category" aria-label="Default select example">
                                                    <option selected>Select Category</option>
                                                    <option value="1">Category 1</option>
                                                    <option value="2">Category 2</option>
                                                    <option value="3">Category 3</option>
                                                  </select>
                                            </div>
                                            <div class="col-sm">
                                                <div class="input-group mb-3">
                                                    <select class="form-select form-select-md category" id="customer" aria-describedby="button-addon2">
                                                        <option selected>Walk-in</option>
                                                        <option value="1">Customer 1</option>
                                                        <option value="2">Customer 2</option>
                                                        <option value="3">Customer 3</option>
                                                    </select>
                                                    <button class="btn text-white" id="add-customer" style="background-color: #80190A;" data-bs-toggle="modal" data-bs-target="#staticBackdrop1"><i class="fas fa-regular fa-user-plus"></i></i></button>
                                                  </div>
                                            </div>
                                          </div>
                                    </div>
                                  </div>
                                <div class="row mt-2">
                                    <div class="col">
                                    <!--- Product list display  -->
                                    <div class="card shadow" style=" height: 29rem;">
                                        <div class="card-body">
                                            <div class="row row-cols-1 row-cols-md-3 g-4 mt-3" id="item_card">
                                                <!--- Item List Append Here -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card shadow" style=" height: 35rem;">
                                    <div class="row">
                                        <div class="container-fluid mt-1" style=" height: 19rem; width: 21rem; 
                                        border-right:solid rgb(240, 240, 240) 1px;
                                        border-bottom:solid rgb(240, 240, 240) 1px;">
                                            <h5 class="text-center mt-1">Order list</h5>
                                        </div>
                                    </div>
                                    <div class="row mt-1">
                                        <div class="container-fluid" style=" height: 11rem; width: 21rem; ">
                                            <p style="margin: 0">Subtotal: </p>
                                            <!--id="subtotal"-->
                                            <p style="margin: 0;display:inline">Discount </p>
                                            <button class="btn text-white" id ="add-discount" data-bs-toggle="modal" data-bs-target="#staticBackdrop2"
                                            style="background-color: #80190A;
                                            text-align: center;
                                            text-decoration: none;
                                            display: inline-block;
                                            font-size: 7px;">
                                            <i class="fas fa-plus"></i>
                                            </button>
                                            <p style="margin: 0">Vat: </p>
                                            <!--id="vat"-->
                                            <h5>Grand Total: </h5>
                                            <!--id="gtotal"-->
                                            <div class="row mb-3">
                                                <div class="col">
                                                    <p style="display:inline">Cash Received</p>
                                                    <input type="text" id="cash-received" class="form-control">
                                                </div>
                                                <div class="col">
                                                    <p style="display:inline">Change</p>
                                                    <input type="text" id="change" class="form-control" readonly>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="container-fluid mt-2" style="width: 21rem; ">
                                    <div class="row">
                                        <div class="col">
                                            <button class="btn text-white w-100" id="save" style="background-color: #80190A;">Proceed</button>
                                        </div>
                                        <div class="col">
                                            <button class="btn text-white w-100" id="cancel" style="background-color: #80190A;">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                               </div>
                            </div>
                        </div>
                    </div>
                 </div>
                </main>
            </div>
        </div>

        <!---ADD CUSTOMER--->
        <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Customer </h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="container">
                    <!-- INPUT FORM -->
                    <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="pills-login-tab" tabindex="0">
                        <input type="hidden" class="form-control" id="customerId">
                        <div class="form-floating mb-2">
                          <input type="text" class="form-control" id="name" placeholder="Name" required>
                          <label for="name">Name</label>
                        </div>
                        <div class="form-floating mb-2">
                            <input type="text" class="form-control" id="mobile-no" placeholder="mobile-no">
                            <label for="mobile-no">Mobile No.</label>
                        </div>
                        <div class="form-floating">
                            <input type="text" class="form-control" id="address" placeholder="Address">
                            <label for="address">Address</label>
                        </div>
                        <div class="mt-3">
                            <a type="submit" id="customer_save" href="#" class="btn w-100 btn-block rounded text-white" style="background-color: #80190A;">Save</a>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            </div>
          </div>

        <!---ADD DISCOUNT--->
        <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel">Select Discount </h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="container">
                    <!-- INPUT FORM -->
                </div>
              </div>
            </div>
            </div>
          </div>
        
        <script>
            $("#datepicker").datepicker();
        </script>
{{end}}
