{{define "title"}}
<title>{{.Title}}</title>
{{end}}

{{define "content"}}

            <!--Product Content-->
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Product Inventory</h1>
                        <ol class="breadcrumb ">
                            <li class="breadcrumb-item active">Product Stock Status</li>
                        </ol>
                        <hr style="height:3px;border-width:0;color:gray;background-color:gray">
                        <div class="container-fluid ">
                            <div class="card shadow">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-8">
                                            <div class="row mt-2">
                                                <div class="col-md-auto">
                                                    <p  style="margin: 0; display:inline;">Status:</p>
                                                        <select id="product-status" class="form-select">
                                                          <option selected value="0">Total Stocks Per Product</option>
                                                          <!-- <option>Expired Products</option> -->
                                                          <option value="1">Low In Stocks</option>
                                                          <option value="2">Out Of Stocks</option>
                                                        </select>
                                                </div>
                                                <div class="col-md-auto mt-3">
                                                    <a href="" class="btn text-white p-3" id="stock-report" style="background-color: #1fa708;">GENERATE REPORT</a>
                                                </div>
                                                <div class="col mt-3">
                                                    <button href="" class="btn text-white" id="remove-expired" onclick="remove_product_expired()" style="background-color: #1fa708;">PULL OUT ALL EXPIRED PRODUCTS</button>
                                                </div>
                                              </div>
                                              <div class="row mt-3">
                                                <div class="row ">
                                                    <div class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                                                        <div class="searchdiv">
                                                            <input type="text" id= "search-product" placeholder="Search ..." style="
                                                                width: 35rem;
                                                                outline: none;
                                                                border: none;
                                                                text-indent: 10px;
                                                                font-family: 'Poppins', sans-serif;
                                                                font-weight: bold;
                                                                height: 2.5rem;
                                                                font-size: 1rem;
                                                                border-radius: 5rem 0rem 0rem 5rem;
                                                                background-color: #f8fbfc;
                                                                ">
                                                              <button style="
                                                                width: 3rem;
                                                                outline: none;
                                                                border: none;
                                                                height: 2.5rem;
                                                                border-radius: 0rem 5rem 5rem 0rem;
                                                                background-color: #f8fbfc;
                                                                margin-left: -20px;" onclick="Search()">
                                                                <svg
                                                                  xmlns="http://www.w3.org/2000/svg"
                                                                  width="16"
                                                                  height="16"
                                                                  fill="currentColor"
                                                                  class="bi bi-search"
                                                                  viewBox="0 0 16 16">
                                                                  <path
                                                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                                                                  />
                                                                </svg>
                                                            </button>
                                                         </div>
                                                        </div>
                                                </div>

                                              </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="card" style="background-color:#80190A">
                                                <div class="card-body" style="display: flex;
                                                flex-direction: column;">
                                                  <h6 class="text-center text-white">Product Status</h6> 
                                                  <!-- <p class="text-white" style="display:inline;">Expired Products:</p> 
                                                  <div class="badge border" id="expired-count" style="width: 11rem;">
                                                    
                                                  </div> -->
                                                  <p class="text-white" style="margin: 0; display:inline;">Low In Stocks:</p> 
                                                  <div class="badge bg-warning" id="low-stock-count" style="width: 12rem; border:none;">
                                                    
                                                  </div>
                                                  <p class="text-white" style="margin: 0; display:inline;">Out Of Stocks:</p>
                                                  <div class="badge bg-danger" id="out-stock-count" style="width: 12rem; border:none;">
                                                    
                                                  </div>
                                                </div>
                                              </div>
                                        </div>
                                    </div>
                                    
                                </div>
                              </div>
                        </div>
                    </div>
                        <!--- Product list display  -->
                        <div class="product" id="product">
                            <div class="container-fluid mt-3 px-4 text-center">
                                <div class="card shadow">
                                    <div class="card-body">
                                         <!--- Tables -->
                                         <div class="table-responsive py-3 ms-3 me-3" style="max-height: 300px; overflow-y: auto;">
                                            <table class="table table-bordered text-center">
                                                <thead>
                                                    <th scope="col">Product Code</th>
                                                    <th scope="col">Product Name</th>
                                                    <th scope="col">Category</th>
                                                    <th scope="col">Description</th>
                                                    <th scope="col">Price</th>
                                                    <th scope="col">Stocks</th>
                                                    <th scope="col">Expiration</th>
                                                </thead>
                                                <tbody id="product_stock_status">
                                                    
                                                </tbody>
                                              </table>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
           
            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script>

$( document ).ready(function() {
    $("tbody").empty()
    var low = 0;
    var out = 0;
    var expired = 0
    $.get("/api/get_item", function(index){
    var result = JSON.parse(index).item
    $.each(result, function(_,v){
      if (parseFloat(v.Quantity) <= 10 && parseFloat(v.Quantity)> 0){
        low += parseFloat(1)
        $("#low-stock-count").html(low)
        AppendData(v.Code,v.Name,v.Category.Name,v.Description,v.Price,v.Quantity,v.Expiration,"yellow")
      }else if(parseFloat(v.Quantity) == 0){
        out += parseFloat(1)
        $("#out-stock-count").html(out)
        AppendData(v.Code,v.Name,v.Category.Name,v.Description,v.Price,v.Quantity,v.Expiration,"red")
      }else{
        AppendData(v.Code,v.Name,v.Category.Name,v.Description,v.Price,v.Quantity,v.Expiration)
      }
     
    })
  })

})

function AppendData(code,name,category,desc,price,count,expiration,color){
  if (color == "yellow"){
    $("#product_stock_status").append(`
        <tr class="border" style="background-color:yellow">
              <td>`+code+`</td>
              <td>`+name+`</td>
              <td>`+category+`</td>
              <td>`+desc+`</td>
              <td>`+price+`</td>
              <td>`+count+`</td>
              <td>`+expiration+`</td>
          </tr>
        `)
  }else if(color == "red"){
    $("#product_stock_status").append(`
        <tr class="border" style="background-color:red">
              <td>`+code+`</td>
              <td>`+name+`</td>
              <td>`+category+`</td>
              <td>`+desc+`</td>
              <td>`+price+`</td>
              <td>`+count+`</td>
              <td>`+expiration+`</td>
          </tr>
        `)
  }else{
    $("#product_stock_status").append(`
        <tr class="border">
              <td>`+code+`</td>
              <td>`+name+`</td>
              <td>`+category+`</td>
              <td>`+desc+`</td>
              <td>`+price+`</td>
              <td>`+count+`</td>
              <td>`+expiration+`</td>
          </tr>
        `)
  }
  }

    function remove_product_expired(){
      var now = new Date();
var dateString = moment(now).format('YYYY-MM-DD');

     
  let date2 = new Date(dateString).getTime();
  var count = 0;
  $.get("/api/get_item", function(index){
    var result = JSON.parse(index).item
    $.each(result, function(_,v){
      let date1 = new Date(v.Expiration).getTime();
      if (date1 <= date2){
        count += parseFloat(1)
        $.ajax({
          url: "/api/expired",
          data: {
            "id": v.ID,
          },
        })
      }
    })
    Swal.fire({
      title: 'Expired Item',
      text: `Remove ${count} Expired Item`,
      icon: 'warning',
      confirmButtonText: 'OK'
    }).then((result) => {
      if (result.isConfirmed) {
        window.location.reload()
      }
    })
  })
  
        // Swal.fire({
        //     text: "10 Products have been expired, Do you want to Remove all Expired Products?",
        //     icon: 'warning',
        //     showCancelButton: true,
        //     confirmButtonColor: '#80190A',
        //     cancelButtonColor: '#747474',
        //     confirmButtonText: 'Yes'
        //   }).then((result) => {
        //     if (result.isConfirmed) {
        //       Swal.fire(
        //         'Pulled Out!',
        //         'Products have been pull out.',
        //         'success'
        //       )
        //     }
        //   })
    }

    $("#product-status").change(function () {   
      var status = $("#product-status").val()

      $("tbody").empty()
    var low = 0;
    var out = 0;
    var expired = 0
    $.get("/api/get_item", function(index){
    var result = JSON.parse(index).item
    $.each(result, function(_,v){
      if (status == 1){
        if (parseFloat(v.Quantity) <= 10 && parseFloat(v.Quantity)> 0){
        low += parseFloat(1)
        $("#low-stock-count").html(low)
        AppendData(v.Code,v.Name,v.Category.Name,v.Description,v.Price,v.Quantity,v.Expiration,"yellow")
      }
    }

      else if (status == 2){
        if(parseFloat(v.Quantity) == 0){
        out += parseFloat(1)
        $("#out-stock-count").html(out)
        AppendData(v.Code,v.Name,v.Category.Name,v.Description,v.Price,v.Quantity,v.Expiration,"red")
        }
      }

      else{
        if (parseFloat(v.Quantity) <= 10 && parseFloat(v.Quantity)> 0){
        low += parseFloat(1)
        $("#low-stock-count").html(low)
        AppendData(v.Code,v.Name,v.Category.Name,v.Description,v.Price,v.Quantity,v.Expiration,"yellow")
         }
        else if(parseFloat(v.Quantity) == 0){
        out += parseFloat(1)
        $("#out-stock-count").html(out)
        AppendData(v.Code,v.Name,v.Category.Name,v.Description,v.Price,v.Quantity,v.Expiration,"red")
        }
        else{
          AppendData(v.Code,v.Name,v.Category.Name,v.Description,v.Price,v.Quantity,v.Expiration)
        }
      }
    })
  })

    })


function Search(){
    var search = $("#search-product").val()

    $("tbody").empty()
  $.get("/api/get_item", function(index){
    var result = JSON.parse(index).item
    $.each(result, function(_,v){
      if (search == v.Name){
        if (parseFloat(v.Quantity) <= 10 && parseFloat(v.Quantity)> 0){
        AppendData(v.Code,v.Name,v.Category.Name,v.Description,v.Price,v.Quantity,v.Expiration,"yellow")
         }
        else if(parseFloat(v.Quantity) == 0){
        AppendData(v.Code,v.Name,v.Category.Name,v.Description,v.Price,v.Quantity,v.Expiration,"red")
        }
        else{
          AppendData(v.Code,v.Name,v.Category.Name,v.Description,v.Price,v.Quantity,v.Expiration)
        }
      }

    })
  })

}
</script>

{{end}}