{{define "title"}}
<title>{{.Title}}</title>
{{end}}

{{define "content"}}
<style>
  /* Hide the increment and decrement arrows */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
</style>
            <!---PRODUCT CONTENT--->

            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Product Inventory</h1>
                        <ol class="breadcrumb ">
                            <li class="breadcrumb-item active">Product List</li>
                        </ol>
                        <hr style="height:3px;border-width:0;color:gray;background-color:gray">
                        <div class="container-fluid ">
                            <div class="card shadow">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-auto">
                                           <!--- Search -->
                                        <div class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                                            <div class="searchdiv">
                                                <input type="text" id="searchdata" placeholder="Search Product Name" style="
                                                    width: 19rem;
                                                    outline: none;
                                                    border:#80190A;
                                                    text-indent: 10px;
                                                    font-family: 'Poppins', sans-serif;
                                                    font-weight: bold;
                                                    height: 2.5rem;
                                                    font-size: 1rem;
                                                    border-radius: 5rem 0rem 0rem 5rem;
                                                    background-color: #f8fbfc;
                                                    text-transform: capitalize;">
                                                  <button style="
                                                    width: 3rem;
                                                    outline: none;
                                                    border: none;
                                                    height: 2.5rem;
                                                    border-radius: 0rem 5rem 5rem 0rem;
                                                    background-color: #f8fbfc;
                                                    margin-left: -20px;" onclick="CatSearch()">
                                                    <svg
                                                      xmlns="http://www.w3.org/2000/svg"
                                                      width="16"
                                                      height="16"
                                                      fill="currentColor"
                                                      class="bi bi-search"
                                                      viewBox="0 0 16 16">
                                                      <path
                                                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                                                      />
                                                    </svg>
                                                </button>
                                             </div>
                                            </div>
                                        </div>
                                        <div class="col-md-auto">
                                            <select class="form-select category" id="category_search" >
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                          <select class="form-select sub-category" id="sub_category_search" >
                              
                                          </select>
                                      </div>
                                        <div class="col-md-auto px-5 ">
                                            <div class="product_header d-grid d-md-flex mx-auto">
                                                <button class="btn text-white" type="button" style="background-color: #80190A" data-bs-toggle="modal" data-bs-target="#staticBackdrop1" onclick="Validate()">ADD PRODUCT</button>
                                                
                                            </div>
                                        </div>
                                        
                                      </div>
                                </div>
                              </div>
                        </div>
                    </div>
                        <!--- Product list display  -->
                        <div class="product" id="product">
                            <div class="container-fluid mt-3 px-4 text-center">
                                <div class="card shadow">
                                    <div class="card-body">
                                        <div class="row row-cols-1 row-cols-md-4 g-4" id="item_card">
                                            <!--- Item List Append Here -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </main>
                </div>
            </div>

            <!-- View Modal -->
            <div class="modal fade" id="viewProduct" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                       <!--- Tables -->
                       <div class="table-responsive py-3 ms-3 me-3" style="max-height: 345px; overflow-y: auto;">
                        <table class="table table-bordered text-center">
                            <thead>
                                <th scope="col">Color</th>
                                <th scope="col">Size</th>
                                <th scope="col">Retail Price</th>
                                <th scope="col">Action</th>
                            </thead>
                            <tbody id= "product-details">
                               
                            </tbody>
                          </table>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>

           

        <!--- Delete Item Modal  -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel">Delete Item</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="container-sm">
                    <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="pills-login-tab" tabindex="0">
                        <input type="hidden" class="form-control" id="itemID_delete">
                        <div class="form-floating mb-3">
                            <div class="delete_nam">
                                <span>Do you want to delete <h3 id="delete_name"> ?</h3></span>
                            </div>
                        </div>
                        <div class="mt-3">
                            <div class="delete_btn">
                                <a type="submit"  href="#" class="btn w-100 btn-block rounded text-white" style="background-color: #80190A;" onclick="Delete_Yes()">YES</a>
                                <a type="submit"  href="#" class="btn w-100 btn-block rounded text-white" style="background-color: #80190A;" onclick="Delete_No()">NO</a>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>

    <!--- Add/Edit Item Modal  -->
          <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="container">
                    <div class="row">
                      <div>
                        <div class="row mb-2">
                          <div class="col">
                            <div class="form-group mb-2">
                              <label for="productName">Product Name*</label>
                              <input type="text" class="form-control" id="productName" name="productName" required>
                              <input type="text" class="form-control" id="itemID" placeholder="Enter Category Name" hidden>
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-group mb-2">
                              <label for="productBrand">Brand*</label>
                              <input type="text" class="form-control" id="productBrand" name="productBrand" required>
                            </div>
                          </div>
                        </div>
                        <div class="row mb-2">
                          <div class="col">
                            <div class="form-group mb-2">
                              <label for="productCategory">Category*</label>
                              <select class="form-control" id="productCategory" name="productCategory" required>
                               
                                <!-- Add more options as needed -->
                              </select>
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-group mb-2">
                              <label for="productSubCategory">Sub-Category*</label>
                              <select class="form-control" id="productSubCategory" name="productSubCategory" required>
                                
                                <!-- Add more options as needed -->
                              </select>
                            </div>
                          </div>
                        </div>

                        <div style="display: flex;
                        gap: 10px;" id="itemsource">
                          <div class="col">
                            <div class="form-group mb-2">
                              <label for="productCategory">Color*</label>
                              <select class="form-control" id="productColor" name="productCategory" required>
                                <option value="0">Select Color</option>
                                <option value="Red">Red</option>
                                <option value="Blue">Blue</option>
                                <option value="Green">Green</option>
                                <option value="Yellow">Yellow</option>
                                <option value="Other">Other</option>
                                <!-- Add more options as needed -->
                              </select>
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-group mb-2">
                              <label for="productSubCategory">Size*</label>
                              <select class="form-control" id="productSize" name="productSubCategory" required>
                                <option value="0">Select a Size</option>
                                <option value="5">Extra Large</option>
                                <option value="4">Large</option>
                                <option value="3">Medium</option>
                                <option value="2">Small</option>
                                <option value="1">Extra Small</option>
                                <option value="6">Other</option>
                                <!-- Add more options as needed -->
                              </select>
                            </div>
                          </div>

                          <div class="form-group mb-2">
                            <label for="purchasedPrice">Purchased Price</label>
                            <input type="number" style="    display: block;
                            width: 80%;
                            padding: 0.375rem 0.75rem;
                            font-size: 1rem;
                            font-weight: 400;
                            line-height: 1.5;
                            color: #212529;
                            background-color: #fff;
                            background-clip: padding-box;
                            border: 1px solid #ced4da;
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            appearance: none;
                            border-radius: 0.375rem;
                            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;"
                            class="form-control"id="purchasedPrice" name="purchasedPrice" step="0.01"  pattern="[0-9]+([\.,][0-9]+)?" min="0"
                            oninput="validity.valid||(value='');" placeholder="Enter the purchased price of the product" required>
                          </div>
                            <div class="form-group mb-2">
                              <label for="purchasedPrice">Retail Price</label>
                              <input type="number" style="    display: block;
                              width: 80%;
                              padding: 0.375rem 0.75rem;
                              font-size: 1rem;
                              font-weight: 400;
                              line-height: 1.5;
                              color: #212529;
                              background-color: #fff;
                              background-clip: padding-box;
                              border: 1px solid #ced4da;
                              -webkit-appearance: none;
                              -moz-appearance: none;
                              appearance: none;
                              border-radius: 0.375rem;
                              transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;" id="retailedPrice" name="retailedPrice" step="0.01"  pattern="[0-9]+([\.,][0-9]+)?" min="0" oninput="validity.valid||(value='');"  placeholder="Enter the retailed price of the product" required>
                              </div>
                              
                        </div>
                        <div class="mt-3">
                          <a type="submit" id="item_save1" href="#" class="btn w-100 btn-block rounded text-white" style="background-color: #80190A;" onclick="List()">ADD</a>
                        </div>
                        <div style="    height: 218px;
                        border: 1px solid black;
                        overflow: auto;" id="itemdata1">
                        <div id="itemdata">

                        </div>
                         
                        </div>
                        <div class="form-check mb-2 mt-3">
                          <input type="checkbox" class="form-check-input" id="expiredCheckbox" name="expiredCheckbox">
                          <label class="form-check-label" for="expiredCheckbox">Expired Product? </label>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group mb-2">
                              <label for="productExpirationDate">Expiration Date</label>
                              <input type="date" class="form-control" id="productExpirationDate" name="productExpirationDate" disabled>
                              <small class="form-text text-muted">Leave this field blank if the product does not expire.</small>
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-group mb-2">
                              <label for="alertDate">Alert Date</label>
                              <input type="date" class="form-control" id="alertDate" name="alertDate" disabled>
                              <small class="form-text text-muted">Set the date to receive an alert about the product's expiration.</small>
                            </div>
                          </div>
                        </div>
                      
                        <div class="form-group mb-2">
                          <label for="productLowStock">Low Stock Threshold*</label>
                          <input type="number" class="form-control" id="productLowStock" name="productLowStock" required>
                          <small class="form-text text-muted">Enter the minimum quantity at which you want to be notified that the product is running low in stock.</small>
                        </div>
                        <div class="form-group mb-5">
                          <label for="productImages">Product Images</label><br>
                          <input type="file" class="form-control-file" id="productImages" name="productImages[]" multiple>
                          <small class="form-text text-muted">You can upload up to 3 images for each product.</small>
                        </div>
                        
                        <div class="mt-3">
                          <a type="submit" id="item_save" href="#" class="btn w-100 btn-block rounded text-white" style="background-color: #80190A;" onclick="Save()">ADD PRODUCT</a>
                          <a type="submit" id="item_edit" href="#" class="btn w-100 btn-block rounded text-white" style="background-color: #80190A;" onclick="Modify()">MODIFY</a>
                        </div>
                      </div>
                      
                    </div>
                  </div>
              </div>
            </div>
            </div>
          </div>

           <!--- EDIT VIEW Modal  -->
           <div class="modal fade" id="editView" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
           aria-labelledby="staticBackdropLabel" aria-hidden="true">
           <div class="modal-dialog modal-md  modal-dialog-centered">
               <div class="modal-content">
               <div class="modal-header">
                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
               </div>
               <div class="modal-body">
                 <div class="container">
                   <div class="row">
                     <div style="display: flex;
                       gap: 10px;" id="itemsource">
                         <div class="col">
                           <div class="form-group mb-2">
                             <label for="productCategory">Color*</label>
                             <select class="form-control" id="productColor" name="productCategory" required>
                               <option value="0">Select Color</option>
                               <option value="Red">Red</option>
                               <option value="Blue">Blue</option>
                               <option value="Green">Green</option>
                               <option value="Yellow">Yellow</option>
                               <option value="Other">Other</option>
                               <!-- Add more options as needed -->
                             </select>
                           </div>
                         </div>
                       </div>
                   </div>
                       <div class="row">
                         <div class="col">
                           <div class="form-group mb-2">
                             <label for="productSubCategory">Size*</label>
                             <select class="form-control" id="productSize" name="productSubCategory" required>
                               <option value="0">Select a Size</option>
                               <option value="5">Extra Large</option>
                               <option value="4">Large</option>
                               <option value="3">Medium</option>
                               <option value="2">Small</option>
                               <option value="1">Extra Small</option>
                               <option value="6">Other</option>
                               <!-- Add more options as needed -->
                             </select>
                           </div>
                         </div>
                       </div>
                 <div class="row">
                         <div class="form-group mb-2">
                           <label for="purchasedPrice">Purchased Price</label>
                           <input type="number" style="    display: block;
                           width: 100%;
                           padding: 0.375rem 0.75rem;
                           font-size: 1rem;
                           font-weight: 400;
                           line-height: 1.5;
                           color: #212529;
                           background-color: #fff;
                           background-clip: padding-box;
                           border: 1px solid #ced4da;
                           -webkit-appearance: none;
                           -moz-appearance: none;
                           appearance: none;
                           border-radius: 0.375rem;
                           transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;" id="purchasedPrice" name="purchasedPrice" step="0.01"  pattern="[0-9]+([\.,][0-9]+)?" min="0" oninput="validity.valid||(value='');" placeholder="Enter the purchased price of the product" required>
                           </div>
                           <div class="form-group mb-2">
                             <label for="purchasedPrice">Retail Price</label>
                             <input type="number" style="    display: block;
                             width: 100%;
                             padding: 0.375rem 0.75rem;
                             font-size: 1rem;
                             font-weight: 400;
                             line-height: 1.5;
                             color: #212529;
                             background-color: #fff;
                             background-clip: padding-box;
                             border: 1px solid #ced4da;
                             -webkit-appearance: none;
                             -moz-appearance: none;
                             appearance: none;
                             border-radius: 0.375rem;
                             transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;" id="retailedPrice" name="retailedPrice" step="0.01"  pattern="[0-9]+([\.,][0-9]+)?" min="0" oninput="validity.valid||(value='');" placeholder="Enter the retailed price of the product" required>
                             </div>
                             
                       </div>
                     </div>
                   <div class="row">
                     <div class="col">
                       <a type="submit" id="category-save" href="#" class="btn mb-2 w-100 btn-block rounded text-white"
                       style="background-color: #80190A;" onclick="Save()">Save</a>
                    </div>
                 </div>
                   
                   </div>
               </div>
               </div>
           </div>

             <!--- Delete View Modal  -->
       <div class="modal fade" id="deleteView" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
         <div class="modal-dialog modal-sm modal-dialog-centered">
           <div class="modal-content">
             <div class="modal-header">
               <h1 class="modal-title fs-5" id="staticBackdropLabel">Delete Item</h1>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
             </div>
             <div class="modal-body">
               <div class="container-sm">
                 <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="pills-login-tab" tabindex="0">
                     <input type="hidden" class="form-control" id="itemID_delete">
                     <div class="form-floating mb-3">
                         <div class="delete_nam">
                             <span>Do you want to delete this ?</span>
                         </div>
                     </div>
                     <div class="mt-3">
                         <div class="delete_btn">
                             <a type="submit"  href="#" class="btn w-100 btn-block rounded text-white" style="background-color: #80190A;" onclick="Delete_Yes()">YES</a>
                             <a type="submit"  href="#" class="btn w-100 btn-block rounded text-white" style="background-color: #80190A;" onclick="Delete_No()">NO</a>
                         </div>
                     </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
     </div>
         
        

<script>
  function Save(){
    var name = $("#productName").val();
    var description = $("#productBrand").val();
    var category = $("#productCategory").val();
    var sub = $("#productSubCategory").val();
    var expiration = $("#productExpirationDate").val();
    var alert = $("#alertDate").val();
    var low = $("#productLowStock").val();
    var image = $("#productImages").val();
    var data1 = localStorage.getItem("product")
  
    if (name == "" || description == "" || category == "" || sub == ""  || low == "" ){
      // use SweetAlert2 to show an error message
      Swal.fire({
        title: 'Incomplete Details!',
        text: 'Please Complete Required Details',
        icon: 'error',
        confirmButtonText: 'OK'
      });
    } else {
      $.ajax({
        url: "/api/item",
        data: {
          "name": name,
          "description":description,
          "category": category,
          "sub":sub,
          "cart": data1,
          "expiration": expiration,
          "alert": alert,
          "low": low,
        },
        success: function () {
          // use SweetAlert2 to show a success message
          Swal.fire({
            title: 'Success!',
            text: 'Item Added Successfully!',
            icon: 'success',
            confirmButtonText: 'OK'
          }).then((result) => {
            if (result.isConfirmed) {
              localStorage.removeItem("product")
              window.location.reload();
            }
          });
        }
      });
    }
  }
  
  $( document ).ready(function() {
    $("#item_card").empty()
    
    $.get("/api/get_item", function(index){
    var result = JSON.parse(index).item
    $.each(result, function(_,v){
      AppendData( v.Name,v.Description, v.ID,v.Image,v.Image1,v.Image2)
    })
  })
  $("#productCategory").empty();
  $("#category_search").empty();
  $("#productCategory").append(`
      <option value="">Select Category</option>
    `)
    $("#category_search").append(`
      <option value="0">Select All</option>
    `)
  $.get("/api/get_category", function(index){
    var result = JSON.parse(index).item
    $.each(result, function(_,v){
      $("#productCategory").append(`
      <option value="`+v.ID+`">`+v.Name+`</option>
    `)
    $("#category_search").append(`
      <option value="`+v.ID+`">`+v.Name+`</option>
    `)
    })
  })

});

function AppendData(Name,Desc,ID,Image,Image1,Image2){
 
        $("#item_card").append(`
        <div class="col">
        <div class="card border-danger rounded-5 mb-3 " style="max-width: 18rem">
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="`+Image+`" class="img-fluid mx-auto mt-3 d-block " style="height: 200px; width:200px" alt="...">
              </div>
              <div class="carousel-item">
                <img src="`+Image1+`" class="img-fluid mx-auto mt-3 d-block " style="height: 200px; width:200px" alt="...">
              </div>
              <div class="carousel-item">
                <img src="`+Image2+`" class="img-fluid mx-auto mt-3 d-block " style="height: 200px; width:200px" alt="...">
               </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        <div class="card-body">
        <h4 class="card-title bold">`+Name+`</h4>
        <h6 class="card-text">`+Desc+`</h6>
        <div class="mt-3">
          <button type="button" class="btn text-white btn-sm"  style="background-color: #808080" onclick="Upload('`+ID+`')"><i class="fas fa-light fa-upload"></i></button>
        <button type="button" class="btn text-white btn-sm" data-bs-toggle="modal" data-bs-target="#viewProduct" style="background-color: #1fa708;" onclick="View('`+ID+`')"><i class="fas fa-light fa-eye"></i></button>
        <button type=button class="btn profilebtn text-white btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop1" onclick="Update('`+ID+`')" style="background-color: #0F52BA"><i class="fas fa-light fa-pen-to-square"></i></button>
        <button type=button class="btn profilebtn text-white btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop" onclick="Delete('`+ID+`') " style="background-color: #80190A;"><i class="fas fa-light fa-trash"></i></button>
        </div>
    </div>
    </div>
    </div>
        `)
}

function Validate(){
    $("#item_edit").hide()
    $("#item_save").show()
}

function Update(id){
   
    $("#item_save").hide()
    $("#item_edit").show()
    $("#itemdata1").hide()
    $("#itemsource").hide()
    $("#item_save1").hide()
    size = ""
    $.get("/api/get_item", function(index){
    var result = JSON.parse(index).item
    $.each(result, function(_,v){
        if (id == v.ID){
     $("#itemID").val(v.ID)
     $("#productName").val(v.Name)
     $("#productBrand").val(v.Description)
     $("#productCategory").val(v.CategoryID)
     $("#productSubCategory").append(`
     <option value="`+v.SubCategoryID+`">`+v.SubCategory.Name+`</option>
     `)
     $("#productSubCategory").val(v.SubCategoryID)
     $("#productExpirationDate").val(v.Expiration)
     $("#alertDate").val(v.ExpiredDate)
     $("#productLowStock").val(v.Low)
    }
    })
})
}

function Modify(){
    var   id = $("#itemID").val()
    var name = $("#productName").val();
    var description = $("#productBrand").val();
    var category = $("#productCategory").val();
    var sub = $("#productSubCategory").val();
    var expiration = $("#productExpirationDate").val();
    var alert = $("#alertDate").val();
    var low = $("#productLowStock").val();

    if (name == "" || description == "" || category == "" || sub == ""  || low == "" ){
       // use SweetAlert2 to show an error message
      Swal.fire({
        title: 'Incomplete Details!',
        text: 'Please Complete Required Details',
        icon: 'error',
        confirmButtonText: 'OK'
      });
     }else{
       $.ajax({
         url: "/api/edit_item",
         data: {
            "id": id,
            "name":name,
            "description":description,
          "category": category,
          "sub":sub,
          "expiration": expiration,
          "alert": alert,
          "low": low,
         },
         success: function () {
          // use SweetAlert2 to show a success message
          Swal.fire({
            title: 'Success!',
            text: 'Item Updated Successfully!',
            icon: 'success',
            confirmButtonText: 'OK'
          }).then((result) => {
            if (result.isConfirmed) {
              window.location.reload();
            }
          });
        }
       })
     }
}

function Delete(id){
    $.get("/api/get_item", function(index){
    var result = JSON.parse(index).item
    $.each(result, function(_,v){
        if (id == v.ID){
     $("#itemID_delete").val(v.ID)   
     $("#delete_name").html(v.Name)
        }
    })
})
}

function Delete_No(){
    window.location.reload()
}

function Delete_Yes(){
    var   id = $("#itemID_delete").val()
    $.ajax({
         url: "/api/delete_item",
         data: {
            "id": id,
         },
         success: function () {
          // use SweetAlert2 to show a success message
          Swal.fire({
            title: 'Success!',
            text: 'Item Deleted Successfully!',
            icon: 'success',
            confirmButtonText: 'OK'
          }).then((result) => {
            if (result.isConfirmed) {
              window.location.reload();
            }
          });
        }
       })
}

function pull_out_expired(){
    Swal.fire({
        text: "10 Products have been expired, Do you want to Pull Out all Expired products?",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#80190A',
        cancelButtonColor: '#747474',
        confirmButtonText: 'Yes'
      }).then((result) => {
        if (result.isConfirmed) {
          Swal.fire(
            'Pulled Out!',
            'Products have been pull out.',
            'success'
          )
        }
      })
}

$("#category_search").change(function () {        
  var search = $("#category_search").val()

 $("#item_card").empty()
    var size = ""
  $.get("/api/get_item", function(index){
    var result = JSON.parse(index).item
    $.each(result, function(_,v){
      if(search == v.CategoryID){
        AppendData( v.Name,v.Description, v.ID,v.Image,v.Image1,v.Image2)
      }
      if (search == 0){
        AppendData( v.Name,v.Description, v.ID,v.Image,v.Image1,v.Image2)
      }
    })
  })
})

$("#sub_category_search").change(function () {        
  var search = $("#sub_category_search").val()

 $("#item_card").empty()
    var size = ""
  $.get("/api/get_item", function(index){
    var result = JSON.parse(index).item
    $.each(result, function(_,v){
      if(search == v.SubCategoryID){
        AppendData( v.Name,v.Description, v.ID,v.Image,v.Image1,v.Image2)
      }
      if (search == 0){
        AppendData( v.Name,v.Description, v.ID,v.Image,v.Image1,v.Image2)
      }
    })
  })
})


$("#productCategory").change(function () {        
  var search = $("#productCategory").val()

 $("#productSubCategory").empty()
 $("#productSubCategory").append(`
      <option value="">Select Sub-Category</option>
    `)
  $.get("/api/get_subcategory", function(index){
    var result = JSON.parse(index).item
    $.each(result, function(_,v){
      if(search == v.CategoryID){
        $("#productSubCategory").append(`
      <option value="`+v.ID+`">`+v.Name+`</option>
    `)
      }
    })
  })
})

$("#category_search").change(function () {        
  var search = $("#category_search").val()

 $("#sub_category_search").empty()
 $("#sub_category_search").append(`
      <option value="">Select Sub-Category</option>
    `)
  $.get("/api/get_subcategory", function(index){
    var result = JSON.parse(index).item
    $.each(result, function(_,v){
      if(search == v.CategoryID){
        $("#sub_category_search").append(`
      <option value="`+v.ID+`">`+v.Name+`</option>
    `)
      }
    })
  })
})

function CatSearch(){
  var search = $("#searchdata").val()
  $("#item_card").empty()
    var size = ""
  $.get("/api/get_item", function(index){
    var result = JSON.parse(index).item
    $.each(result, function(_,v){
      if(search == v.Name){
        AppendData( v.Name,v.Description, v.ID,v.Image,v.Image1,v.Image2)
      }
      if (search == ""){
        AppendData( v.Name,v.Description, v.ID,v.Image,v.Image1,v.Image2)
      }
    })
  })
  
}

//Expired Product
  const expiredCheckbox = document.getElementById('expiredCheckbox');
  const expirationDateInput = document.getElementById('productExpirationDate');
  const alertDateInput = document.getElementById('alertDate');

  expiredCheckbox.addEventListener('change', () => {
    expirationDateInput.disabled = !expiredCheckbox.checked;
    alertDateInput.disabled = !expiredCheckbox.checked;
  });


  function List(){
    var product = localStorage.getItem("product");
    var color = $("#productColor").val();
    var size = $("#productSize").val()
    var p_price = $("#purchasedPrice").val();
    var r_price = $("#retailedPrice").val()

    if (color == 0 || size == 0 || p_price == "" || r_price == ""){
      alert("Please Input Required Details")
    }else{
    //  * Initial adding of item in the cart
    if (product === null || product === "" || product === " ") {
      cart = [];
      var color = $("#productColor").val();
    var size = $("#productSize").val()
    var p_price = $("#purchasedPrice").val();
    var r_price = $("#retailedPrice").val()
  
      cart.push({
        color: color,
        size: size,
        p_price: p_price,
        r_price: r_price,
      });
      localStorage.setItem("product", JSON.stringify(cart));
      DataItem()
      Swal.fire({
        toast: true,
        position: "bottom-end",
        icon: 'success',
        title: 'Add Item',
        showConfirmButton: false,
        timer: 3000
      }).then(function(){ 
     
          }) 
    }
    else {
      cart = JSON.parse(product);
      var added = false;
      var color = $("#productColor").val();
      var size = $("#productSize").val();

   
      //* Adding the quantity of the same item in the cart
      $.each(cart, function (k, v) {
        if (v.color == color && v.size == size) {
          added = true;
          DataItem()
          Swal.fire({
           toast: true,
            position: "bottom-end",
            icon: 'warning',
            title: 'Item Already Exist',
            showConfirmButton: false,
            timer: 3000
          }).then(function(){ 
      
          }) 
        }
      });

      //* Adding of another item to cart
      if (!added) {
        var color = $("#productColor").val();
    var size = $("#productSize").val()
    var p_price = $("#purchasedPrice").val();
    var r_price = $("#retailedPrice").val()
  


      cart.push({
        color: color,
        size: size,
        p_price: p_price,
        r_price: r_price,
      });
      localStorage.setItem("product", JSON.stringify(cart));
      DataItem()
      Swal.fire({
        toast: true,
        position: "bottom-end",
        icon: 'success',
        title: 'Add Item',
        showConfirmButton: false,
        timer: 3000
      }).then(function(){ 
     
          }) 
    
      }
    }
  }
    
  }

  function DataItem(){
    $("#productColor").val(0);
      $("#productSize").val(0)
      $("#purchasedPrice").val("");
      $("#retailedPrice").val("")
  
      product = localStorage.getItem("product");
      item = JSON.parse(product);
      console.log(item)
      $("#itemdata").empty()
      $.each(item, function (k, v) {
        var sizedata  
        if (v.size == 1){
          sizedata = "Extra_Small"
        }else if(v.size == 2){
          sizedata = "Small"
        }else if(v.size == 3){
          sizedata = "Medium"
        }else if(v.size == 4){
          sizedata = "Large"
        }else if (v.size == 5){
          sizedata = "Extra_Large"
        }else{
          sizedata = "Others"
        }
        $("#itemdata").append(`
        <div style="    display: flex;
    justify-content: space-between;
    margin: 12px; 
    overflow: auto;
">
        <p>Color: `+v.color+`</p>
        <p>Size: `+sizedata+`</p>
        <p>Purchased Price: `+v.p_price+`</p>
        <p>Retailed Price: `+v.r_price+`</p>
        </div>
        `)
      })
  }

  function View(id){
    $("#product-details").empty()
    $.get("/api/get_subitem", function (index) {
        var result = JSON.parse(index).item;
        $.each(result, function (_, v) {
      
          if(v.ItemID == id){
      var sizedata = ""
            if (v.Size == 1) {
        sizedata = "Extra_Small";
      } else if (v.Size == 2) {
        sizedata = "Small";
      } else if (v.Size == 3) {
        sizedata = "Medium";
      } else if (v.Size == 4) {
        sizedata = "Large";
      } else if (v.Size == 5) {
        sizedata = "Extra_Large";
      } else {
        sizedata = "Others";
      }
            $("#product-details").append(`
            <tr>
              <td>`+v.Color+`</td>
              <td>`+sizedata+`</td>
              <td>`+v.RetailedPrice+`</td>
              <td>
                <button type="button" class="btn text-white text-center btn-sm" id ="editProductDetails" data-bs-toggle="modal" data-bs-target="#editView" style="background-color: #0F52BA" onclick="Validate(`+v.ID+`)"><i class="fa-solid fa-pen-to-square"></i></button>
                <button type="button" class="btn text-white text-center btn-sm" id ="deleteProductDetails" data-bs-toggle="modal" data-bs-target="#deleteView" style="background-color: #80190A;" onclick="Delete(`+v.ID+`)"><i class="fa-solid fa-trash"></i></button>
              </td>
            </tr>
          
            `)
          }

        })
      })
  }

  function Upload(id){
    localStorage.setItem("PicImage",id)
    window.location.replace("/upload")
  }


 </script>

{{end}}
