{{define "title"}}
<title>{{.Title}}</title>
{{end}}

{{define "content"}}
<style>
  /* Hide the increment and decrement arrows */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
</style>
            <!---PRODUCT CONTENT--->

            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Product Inventory</h1>
                        <ol class="breadcrumb ">
                            <li class="breadcrumb-item active">Product List</li>
                        </ol>
                        <hr style="height:3px;border-width:0;color:gray;background-color:gray">
                        <div class="container-fluid ">
                            <div class="card shadow">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-auto">
                                           <!--- Search -->
                                        <div class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                                            <div class="searchdiv">
                                                <input type="text" id="searchdata" placeholder="Search Product Name" style="
                                                    width: 19rem;
                                                    outline: none;
                                                    border:#80190A;
                                                    text-indent: 10px;
                                                    font-family: 'Poppins', sans-serif;
                                                    font-weight: bold;
                                                    height: 2.5rem;
                                                    font-size: 1rem;
                                                    border-radius: 5rem 0rem 0rem 5rem;
                                                    background-color: #f8fbfc;
                                                    text-transform: capitalize;">
                                                  <button style="
                                                    width: 3rem;
                                                    outline: none;
                                                    border: none;
                                                    height: 2.5rem;
                                                    border-radius: 0rem 5rem 5rem 0rem;
                                                    background-color: #f8fbfc;
                                                    margin-left: -20px;" onclick="CatSearch()">
                                                    <svg
                                                      xmlns="http://www.w3.org/2000/svg"
                                                      width="16"
                                                      height="16"
                                                      fill="currentColor"
                                                      class="bi bi-search"
                                                      viewBox="0 0 16 16">
                                                      <path
                                                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                                                      />
                                                    </svg>
                                                </button>
                                             </div>
                                            </div>
                                        </div>
                                        <div class="col-md-auto">
                                            <select class="form-select category" id="category_search" >
                                            </select>
                                        </div>
                                        <div class="col-md-auto">
                                          <select class="form-select sub-category" id="sub_category_search" >
                                            <option value="1">Sub-Category</option>
                                          </select>
                                      </div>
                                        <div class="col-md-auto px-5 ">
                                            <div class="product_header d-grid d-md-flex mx-auto">
                                                <button class="btn text-white" type="button" style="background-color: #80190A" data-bs-toggle="modal" data-bs-target="#staticBackdrop1" onclick="Validate()">ADD PRODUCT</button>
                                                
                                            </div>
                                        </div>
                                        
                                      </div>
                                </div>
                              </div>
                        </div>
                    </div>
                        <!--- Product list display  -->
                        <div class="product" id="product">
                            <div class="container-fluid mt-3 px-4 text-center">
                                <div class="card shadow">
                                    <div class="card-body">
                                        <div class="row row-cols-1 row-cols-md-4 g-4" id="item_card">
                                            <!--- Item List Append Here -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </main>
                </div>
            </div>

        <!--- Delete Item Modal  -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel">Delete Item</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="container-sm">
                    <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="pills-login-tab" tabindex="0">
                        <input type="hidden" class="form-control" id="itemID_delete">
                        <div class="form-floating mb-3">
                            <div class="delete_nam">
                                <span>Are you sure you want to delete <h3 id="delete_name"> ?</h3></span>
                            </div>
                        </div>
                        <div class="mt-3">
                            <div class="delete_btn">
                                <a type="submit"  href="#" class="btn w-100 btn-block rounded text-white" style="background-color: #7a7a7a;" onclick="Delete_Yes()">YES</a>
                                <a type="submit"  href="#" class="btn w-100 btn-block rounded text-white" style="background-color: #80190A;" onclick="Delete_No()">NO</a>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>

    <!--- Add/Edit Item Modal  -->
          <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="container">
                    <div class="row">
                      <form>
                        <div class="row mb-2">
                          <div class="col">
                            <div class="form-group mb-2">
                              <label for="productName">Product Name*</label>
                              <input type="text" class="form-control" id="productName" name="productName" required>
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-group mb-2">
                              <label for="productBrand">Brand*</label>
                              <input type="text" class="form-control" id="productBrand" name="productBrand" required>
                            </div>
                          </div>
                        </div>
                        <div class="row mb-2">
                          <div class="col">
                            <div class="form-group mb-2">
                              <label for="productCategory">Category*</label>
                              <select class="form-control" id="productCategory" name="productCategory" required>
                                <option value="">Select a category</option>
                                <option value="motor_gear">Motor Gear</option>
                                <option value="helmets">Helmets</option>
                                <!-- Add more options as needed -->
                              </select>
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-group mb-2">
                              <label for="productSubCategory">Sub-Category*</label>
                              <select class="form-control" id="productSubCategory" name="productSubCategory" required>
                                <option value="">Select a sub-category</option>
                                <option value="motor_gear">Motor Gear</option>
                                <option value="helmets">Helmets</option>
                                <option value="helmets">None</option>
                                <!-- Add more options as needed -->
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="form-group mb-2">
                          <label for="productColor">Color*</label>
                          <div>
                            <label class="checkbox-inline mx-2"><input type="checkbox" id="colorRed" name="productColor" value="Red"> Red</label>
                            <label class="checkbox-inline  mx-2"><input type="checkbox" id="colorBlue" name="productColor" value="Blue"> Blue</label>
                            <label class="checkbox-inline  mx-2"><input type="checkbox" id="colorBlack" name="productColor" value="Black"> Black</label>
                            <label class="checkbox-inline  mx-2"><input type="checkbox" id="colorWhite" name="productColor" value="White"> White</label>
                            <label class="checkbox-inline  mx-2"><input type="checkbox" id="colorGreen" name="productColor" value="Green"> Green</label>
                            <label class="checkbox-inline  mx-2"><input type="checkbox" id="colorYellow" name="productColor" value="Yellow"> Yellow</label>
                            <label class="checkbox-inline  mx-2"><input type="checkbox" id="colorOrange" name="productColor" value="Orange"> Orange</label>
                            <label class="checkbox-inline  mx-2"><input type="checkbox" id="colorGray" name="productColor" value="Gray"> Gray</label>
                            <!-- Add more color options as needed -->
                          </div>
                        </div>
                        <div class="form-group mb-2">
                          <label for="productColor">Size*</label>
                          <div>
                            <label class="checkbox-inline mx-2"><input type="checkbox" id="SizeXS" name="productColor" value="XL"> Extra Small</label>
                            <label class="checkbox-inline mx-2"><input type="checkbox" id="SizeS" name="productColor" value="S"> Small</label>
                            <label class="checkbox-inline mx-2"><input type="checkbox" id="SizeM" name="productColor" value="M"> Medium</label>
                            <label class="checkbox-inline mx-2"><input type="checkbox" id="SizeL" name="productColor" value="L"> Large</label>
                            <label class="checkbox-inline mx-2"><input type="checkbox" id="SizeXL" name="productColor" value="XL"> Extra Large</label>
                            <!-- Add more color options as needed -->
                          </div>
                        </div>
                        <div class="row mb-3">
                          <div class="col">
                            <div class="form-group mb-2">
                              <label for="purchasedPrice">Purchased Price</label>
                              <input type="number" class="form-control" id="purchasedPrice" name="purchasedPrice" step="0.01" min="0" pattern="[0-9]+([\.,][0-9]+)?" placeholder="Enter the purchased price of the product" required>
                              </div>
                          </div>
                          <div class="col">
                            <div class="form-group mb-2">
                              <label for="sellingPrice">Selling Price</label>
                              <input type="number" class="form-control" id="sellingPrice" name="sellingPrice" step="0.01" min="0" pattern="[0-9]+([\.,][0-9]+)?" placeholder="Enter the selling price of the product" required >
                            </div>
                          </div>
                        </div>
                        <div class="form-check mb-2">
                          <input type="checkbox" class="form-check-input" id="expiredCheckbox" name="expiredCheckbox">
                          <label class="form-check-label" for="expiredCheckbox">Expired Product? </label>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group mb-2">
                              <label for="productExpirationDate">Expiration Date</label>
                              <input type="date" class="form-control" id="productExpirationDate" name="productExpirationDate" disabled>
                              <small class="form-text text-muted">Leave this field blank if the product does not expire.</small>
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-group mb-2">
                              <label for="alertDate">Alert Date</label>
                              <input type="date" class="form-control" id="alertDate" name="alertDate" disabled>
                              <small class="form-text text-muted">Set the date to receive an alert about the product's expiration.</small>
                            </div>
                          </div>
                        </div>
                      
                        <div class="form-group mb-2">
                          <label for="productLowStock">Low Stock Threshold*</label>
                          <input type="number" class="form-control" id="productLowStock" name="productLowStock" required>
                          <small class="form-text text-muted">Enter the minimum quantity at which you want to be notified that the product is running low in stock.</small>
                        </div>
                        <div class="form-group mb-5">
                          <label for="productImages">Product Images</label><br>
                          <input type="file" class="form-control-file" id="productImages" name="productImages[]" multiple>
                          <small class="form-text text-muted">You can upload up to 3 images for each product.</small>
                        </div>
                        
                        <div class="mt-3">
                          <a type="submit" id="item_save" href="#" class="btn w-100 btn-block rounded text-white" style="background-color: #80190A;" onclick="Save()">ADD PRODUCT</a>
                          <a type="submit" id="item_edit" href="#" class="btn w-100 btn-block rounded text-white" style="background-color: #80190A;" onclick="Modify()">MODIFY</a>
                        </div>
                      </form>
                      
                    </div>
                  </div>
                  <!-- INPUT FORM
                  <div class="container">
                    
                    <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="pills-login-tab" tabindex="0">
                        <input type="hidden" class="form-control" id="itemID">
                        <div class="form-floating mb-2">
                          <input type="text" class="form-control" id="name" pattern="[A-Za-z]" placeholder="Name" required>
                          <label for="floatingInput">Product Name</label>
                        </div>
                        <div class="mb-2">
                            <select class="form-select " name="category" id="category_list" required>
                               
                            </select>
                        </div>
                        <div class="form-floating mb-2">
                            <textarea  class="form-control " id="description" pattern="[A-Za-z] placeholder="Description" style="height: 100px"></textarea>
                            <label for="description">Description</label>
                        </div>
                        <div class="mb-3">
                            <select class="form-select " name="size" id="size" required>
                                <option value="">Select Size</option>
                                <option value="1">Extra Small</option>
                                <option value="2">Small</option>
                                <option value="3">Medium</option>
                                <option value="4">Large</option>
                                <option value="5">Extra Large</option>
                                <option value="6">None</option>
                            </select>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <div class="form-floating">
                                    <input type="number" class="form-control" id="price" placeholder="Prize" pattern="^[a-zA-Z0-9]+$" min="0" oninput="validity.valid||(value='');">
                                    <label for="floatingInput">Price</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-floating">
                                    <input type="number" class="form-control" id="qty" placeholder="Quantity" pattern="^[a-zA-Z0-9]+$" min="0" oninput="validity.valid||(value='');">
                                    <label for="floatingInput">Initial Stocks</label>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Expiration Date:</label>
                                <input type="date" class="form-control" id="expiration" placeholder="MM/YYYY">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="image" class="form-label">Upload Product Image:</label>
                            <input class="form-control" type="file" id="image">
                        </div>
                        <div class="mt-3">
                          <a type="submit" id="item_save" href="#" class="btn w-100 btn-block rounded text-white" style="background-color: #80190A;" onclick="Save()">ADD PRODUCT</a>
                          <a type="submit" id="item_edit" href="#" class="btn w-100 btn-block rounded text-white" style="background-color: #80190A;" onclick="Modify()">MODIFY</a>
                        </div>
                    </div>
                </div>
                ----->
              </div>
            </div>
            </div>
          </div>
         
        

<script>
  function Save(){
    var name = $("#name").val();
    var description = $("#description").val();
    var price = $("#price").val();
    var quantity = $("#qty").val();
    var size = $("#size").val();
    var category = $("#category_list").val();
    var expiration = $("#expiration").val();
    var image = $("#image").val();
  
    if (name == "" || description == "" || price == "" || quantity == "" || size == "" || category == ""  || expiration == "" || image == ""){
      // use SweetAlert2 to show an error message
      Swal.fire({
        title: 'Incomplete Details!',
        text: 'Please Complete Required Details',
        icon: 'error',
        confirmButtonText: 'OK'
      });
    } else {
      $.ajax({
        url: "/api/item",
        data: {
          "name": name,
          "description":description,
          "price": price,
          "size": size,
          "category": category,
          "quantity":quantity,
          "expiration": expiration,
        },
        success: function () {
          // use SweetAlert2 to show a success message
          Swal.fire({
            title: 'Success!',
            text: 'Item Added Successfully!',
            icon: 'success',
            confirmButtonText: 'OK'
          }).then((result) => {
            if (result.isConfirmed) {
              window.location.reload();
            }
          });
        }
      });
    }
  }
  
  $( document ).ready(function() {
    $("#item_card").empty()
    
    $.get("/api/get_item", function(index){
    var result = JSON.parse(index).item
    $.each(result, function(_,v){
      AppendData(v.Size, v.Name, v.Price, v.ID)
    })
  })
  $("#category_list").empty();
  $("#category_search").empty();
  $("#category_list").append(`
      <option value="">Select Category</option>
    `)
    $("#category_search").append(`
      <option value="0">Select All</option>
    `)
  $.get("/api/get_category", function(index){
    var result = JSON.parse(index).item
    $.each(result, function(_,v){
      $("#category_list").append(`
      <option value="`+v.ID+`">`+v.Name+`</option>
    `)
    $("#category_search").append(`
      <option value="`+v.ID+`">`+v.Name+`</option>
    `)
    })
  })

});

function AppendData(Size,Name,Price,ID){
  var size = ""
  if (Size == 1){
            size = "Extra Small"
        }
        if (Size == 2){
            size = "Small"
        }
        if (Size == 3){
            size = "Medium"
        }
        if (Size == 4){
            size = "Large"
        }
        if (Size == 5){
            size = "Extra Large"
        }
        $("#item_card").append(`
        <div class="col">
        <div class="card border-danger rounded-5 mb-3 " style="max-width: 15rem">
        <img src="/static/assets/img/Product1.jpg" class="img-fluid mx-auto mt-2" style="height: 100px; width:150px" alt="...">
        <div class="card-body">
        <h5 class="card-title bold">`+Name+`</h5>
        <p class="card-subtitle mb-2 text-muted">`+size+`</p>
        <h4 class="card-text">P `+Price+`</h4>
        <button type=button class="btn profilebtn text-white" data-bs-toggle="modal" data-bs-target="#staticBackdrop1" onclick="Update('`+ID+`')" style="background-color: #1357bc;">Update</button>
        <button type=button class="btn profilebtn text-white" data-bs-toggle="modal" data-bs-target="#staticBackdrop" onclick="Delete('`+ID+`') " style="background-color: #80190A;">
        Delete
        </button>
    </div>
    </div>
    </div>
        `)
}

function Validate(){
    $("#item_edit").hide()
    $("#item_save").show()
}

function Update(id){
    $("#item_save").hide()
    $("#item_edit").show()
    size = ""
    $.get("/api/get_item", function(index){
    var result = JSON.parse(index).item
    $.each(result, function(_,v){
        if (id == v.ID){
     $("#itemID").val(v.ID)
     $("#name").val(v.Name)
     $("#description").val(v.Description)
     $("#price").val(v.Price)
     $("#qty").val(v.Quantity)
     $("#size").val(v.Size)
     $("#category_list").val(v.CategoryID)
     $("#expiration").val(v.Expiration)
        }
    })
})
}

function Modify(){
    var   id = $("#itemID").val()
    var   name = $("#name").val()
     var   description = $("#description").val()
     var   price = $("#price").val()
     var   quantity = $("#qty").val()
     var   size = $("#size").val()
     var   category = $("#category_list").val()
     var   expiration = $("#expiration").val()
     var   image = $("#image").val()

     if ( name == "" || description == "" || price == "" || quantity == "" || size == "" || category == "" || expiration == "" || image == ""){
       // use SweetAlert2 to show an error message
      Swal.fire({
        title: 'Incomplete Details!',
        text: 'Please Complete Required Details',
        icon: 'error',
        confirmButtonText: 'OK'
      });
     }else{
       $.ajax({
         url: "/api/edit_item",
         data: {
            "id": id,
           "name": name,
           "description":description,
           "price": price,
           "size": size,
           "category": category,
           "quantity":quantity,
           "expiration": expiration,
         },
         success: function () {
          // use SweetAlert2 to show a success message
          Swal.fire({
            title: 'Success!',
            text: 'Item Updated Successfully!',
            icon: 'success',
            confirmButtonText: 'OK'
          }).then((result) => {
            if (result.isConfirmed) {
              window.location.reload();
            }
          });
        }
       })
     }
}

function Delete(id){
    $.get("/api/get_item", function(index){
    var result = JSON.parse(index).item
    $.each(result, function(_,v){
        if (id == v.ID){
     $("#itemID_delete").val(v.ID)   
     $("#delete_name").html(v.Name)
        }
    })
})
}

function Delete_No(){
    window.location.reload()
}

function Delete_Yes(){
    var   id = $("#itemID_delete").val()
    $.ajax({
         url: "/api/delete_item",
         data: {
            "id": id,
         },
         success: function () {
          // use SweetAlert2 to show a success message
          Swal.fire({
            title: 'Success!',
            text: 'Item Deleted Successfully!',
            icon: 'success',
            confirmButtonText: 'OK'
          }).then((result) => {
            if (result.isConfirmed) {
              window.location.reload();
            }
          });
        }
       })
}

function pull_out_expired(){
    Swal.fire({
        text: "10 Products have been expired, Do you want to Pull Out all Expired products?",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#80190A',
        cancelButtonColor: '#747474',
        confirmButtonText: 'Yes'
      }).then((result) => {
        if (result.isConfirmed) {
          Swal.fire(
            'Pulled Out!',
            'Products have been pull out.',
            'success'
          )
        }
      })
}

$("#category_search").change(function () {        
  var search = $("#category_search").val()

 $("#item_card").empty()
    var size = ""
  $.get("/api/get_item", function(index){
    var result = JSON.parse(index).item
    $.each(result, function(_,v){
      if(search == v.CategoryID){
        AppendData(v.Size, v.Name, v.Price, v.ID)
      }
      if (search == 0){
        AppendData(v.Size, v.Name, v.Price, v.ID)
      }
    })
  })
})

function CatSearch(){
  var search = $("#searchdata").val()
  $("#item_card").empty()
    var size = ""
  $.get("/api/get_item", function(index){
    var result = JSON.parse(index).item
    $.each(result, function(_,v){
      if(search == v.Name){
        AppendData(v.Size, v.Name, v.Price, v.ID)
      }
      if (search == ""){
        AppendData(v.Size, v.Name, v.Price, v.ID)
      }
    })
  })
  
}

//Expired Product
  const expiredCheckbox = document.getElementById('expiredCheckbox');
  const expirationDateInput = document.getElementById('productExpirationDate');
  const alertDateInput = document.getElementById('alertDate');

  expiredCheckbox.addEventListener('change', () => {
    expirationDateInput.disabled = !expiredCheckbox.checked;
    alertDateInput.disabled = !expiredCheckbox.checked;
  });

 </script>

{{end}}
