{{define "title"}}
<title>{{.Title}}</title>
{{end}} {{define "content"}}

<!--Stock-in Entry Content-->
<div id="layoutSidenav_content" style="background: #f4f4f4">
  <main>
    <div class="container-fluid">
      <h1 class="mt-4">Product Inventory</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">Stock-in Entry</li>
      </ol>
      <hr
        style="
          height: 3px;
          border-width: 0;
          color: gray;
          background-color: gray;
        "
      />
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="text-center">STOCK IN ENTRY</h5>
                <form class="row" id="stock_in">
                  <div class="row">
                    <div class="form-group mb-2">
                      <label for="productCategory">Item</label>
                      <select
                        class="form-control"
                        id="productItem"
                        name="productCategory"
                        required
                      ></select>
                    </div>
                    <div class="col-md-auto">
                      <label for="stock-received" class="col-form-label"
                        >Total Stock Received:</label
                      >
                    </div>
                    <div class="col">
                      <input
                        type="number"
                        pattern="^[a-zA-Z0-9]+$"
                        min="0"
                        oninput="validity.valid||(value='');"
                        class="form-control"
                        id="stock-received"
                      />
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-6">
                      <label for="date-received" class="col-form-label"
                        >Date Received:</label
                      >
                    </div>
                    <div class="col-6">
                      <input
                        class="form-control"
                        id="date-received"
                        type="date"
                      />
                    </div>
                  </div>
                  <div class="row mt-2 text-center float-center">
                    <form
                      class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0"
                    >
                      <div class="searchdiv">
                        <input
                          type="text"
                          id="search-product"
                          placeholder="Search ..."
                          style="
                            width: 14rem;
                            outline: none;
                            border: none;
                            text-indent: 10px;
                            font-family: 'Poppins', sans-serif;
                            font-weight: bold;
                            height: 2.5rem;
                            font-size: 1rem;
                            border-radius: 5rem 0rem 0rem 5rem;
                            background-color: #f8fbfc;
                            text-transform: capitalize;
                          "
                        />
                        <button
                          style="
                            width: 3rem;
                            outline: none;
                            border: none;
                            height: 2.5rem;
                            border-radius: 0rem 5rem 5rem 0rem;
                            background-color: #f8fbfc;
                            margin-left: -20px;
                          "
                          type="submit"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="currentColor"
                            class="bi bi-search"
                            viewBox="0 0 16 16"
                          >
                            <path
                              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                            />
                          </svg>
                        </button>
                      </div>
                    </form>
                  </div>
                  <div class="row mt-2">
                    <div class="product" id="product">
                      <div
                        class="container-fluidtext-center border"
                        style="height: 19rem"
                      >
                        <h6 class="text-center">PRODUCT INFORMATION</h6>
                        <div class="card">
                          <div
                            class="product"
                            id="product-display"
                            style="
                              display: flex;
                              flex-direction: column;
                              justify-content: space-between;

                              gap: 1.5 rem;
                            "
                          ></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card">
              <div class="card-body">
                <h5 class="text-center">STOCK IN PRODUCT LIST</h5>
                <!---PRODUCT LIST-->
                <div class="product" id="product">
                  <div
                    class="container-fluidtext-center"
                    style="
                      height: 24rem;
                      border-right: solid rgb(240, 240, 240) 2px;
                      border-bottom: solid rgb(240, 240, 240) 2px;
                    "
                  >
                    <!--- Tables -->
                    <div
                      class="table-responsive py-3 ms-3 me-3"
                      style="max-height: 345px; overflow-y: auto"
                    >
                      <table class="table table-bordered text-center">
                        <thead>
                          <th scope="col">ID</th>
                          <th scope="col">Product Name</th>
                          <th scope="col">Color</th>
                          <th scope="col">Size</th>
                          <th scope="col">Purchase Price</th>
                          <th scope="col">Retail Price</th>
                          <th scope="col">Stock</th>
                        </thead>
                        <tbody id="stock-in-product-list"></tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="container text-center mt-4">
                  <div class="row">
                    <div class="col">
                      <button
                        class="btn text-white"
                        id="stock-save"
                        type="button"
                        style="background-color: #80190a"
                        onclick="Save()"
                      >
                        SAVE STOCK IN ENTRY
                      </button>
                    </div>
                    <div class="col">
                      <button
                        class="btn text-white"
                        id="stock-cancel"
                        type="button"
                        style="background-color: #80190a"
                        onclick="Cancel()"
                      >
                        CANCEL STOCK IN ENTRY
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <script>
    $(document).ready(function () {
      $("#stock-received").attr("disabled", "disabled");
      $("#date-received").attr("disabled", "disabled");
      $("tbody").empty();

      $("#productItem").empty();
      $("#productItem").append(`
      <option value="0">Select Item</option>
      `);
      $.get("/api/get_item", function (index) {
        var result = JSON.parse(index).item;
        $.each(result, function (_, v) {
          $("#productItem").append(
            `
         <option value="` +
              v.ID +
              `">` +
              v.Name +
              `</option>
           `
          );
        });
      });
    });

    function appendData(ID, Name, Color, Size, RPrice, PPrice, QTY) {
      var sizedata;
      if (Size == 1) {
        sizedata = "Extra_Small";
      } else if (Size == 2) {
        sizedata = "Small";
      } else if (Size == 3) {
        sizedata = "Medium";
      } else if (Size == 4) {
        sizedata = "Large";
      } else if (Size == 5) {
        sizedata = "Extra_Large";
      } else {
        sizedata = "Others";
      }

      $("#stock-in-product-list").append(
        `
          <tr>
            <td>` +
          ID +
          `</td>
            <td>` +
          Name +
          ` </td>
            <td>` +
          Color +
          `</td>
          <td>` +
          sizedata +
          `</td>
            <td>` +
          RPrice +
          ` </td>
            <td>` +
          PPrice +
          `</td>
            <td>` +
          QTY +
          `</td>
          </tr>
          `
      );
    }

    $("#stock_in").submit(function (e) {
      e.preventDefault();
      $("tbody").empty();
      $("#product-display").empty();
      var search = $("#search-product").val();
      $.get("/api/get_subitem", function (index) {
        var result = JSON.parse(index).item;
        $.each(result, function (_, v) {
          if (search == v.ID) {
            $("#stock-received").removeAttr("disabled");
            $("#date-received").removeAttr("disabled");
            appendData(
              v.ID,
              v.Item.Name,
              v.Color,
              v.size,
              v.RetailedPrice,
              v.PurchasePrice,
              v.Quantity
            );
            $("#product-display").append(
              `
            <span id="pID">` +
                v.ID +
                `</span>
            <span>Product: ` +
                v.Item.Name +
                `</span>
            <span>Color: ` +
                v.Color +
                `</span>
            <span>Stock: ` +
                v.Quantity +
                `</span>
            `
            );
          }
        });
      });
    });

    function Cancel() {
      window.location.reload();
    }

    function Save() {
      var id1 = $("#pID").html();
      var total1 = $("#stock-received").val();
      var date1 = $("#date-received").val();

      if (id1 == "" || total1 == "" || date1 == "") {
        /*swal("Please Complete Required Details")*/
        alert("Please Complete Required Details");
      } else {
        $.ajax({
          url: "/api/stockin",
          data: {
            id: id1,
            total: total1,
            date: date1,
          },
          success: function () {
            // use SweetAlert2 to show a success dialog
            Swal.fire({
              title: "Success!",
              text: "Stock-in Added Successfully!",
              icon: "success",
              confirmButtonText: "OK",
            }).then((result) => {
              if (result.isConfirmed) {
                $("#stock-received").attr("disabled", "disabled");
                $("#date-received").attr("disabled", "disabled");
                $("#stock-received").val("");
                $("#date-received").val("");
                var search = $("#productItem").val();
                $("#stock-in-product-list").empty();
                $.get("/api/get_subitem", function (index) {
                  var result = JSON.parse(index).item;
                  $.each(result, function (_, v) {
                    console.log(result);
                    if (search == v.ItemID) {
                      appendData(
                        v.ID,
                        v.Item.Name,
                        v.Color,
                        v.size,
                        v.RetailedPrice,
                        v.PurchasePrice,
                        v.Quantity
                      );
                    }
                  });
                });
              }
            });
          },
        });
      }
    }

    $("#productItem").change(function (e) {
      var search = $("#productItem").val();
      $("#stock-in-product-list").empty();
      $.get("/api/get_subitem", function (index) {
        var result = JSON.parse(index).item;
        $.each(result, function (_, v) {
          console.log(result);
          if (search == v.ItemID) {
            appendData(
              v.ID,
              v.Item.Name,
              v.Color,
              v.size,
              v.RetailedPrice,
              v.PurchasePrice,
              v.Quantity
            );
          }
          if (search == 0) {
            $("#stock-in-product-list").empty();
          }
        });
      });
    });
  </script>
  {{end}}
</div>
