{{define "title"}}
<title>{{.Title}}</title>
{{end}} {{define "content"}}

<!--Stock-in Entry Content-->
<div id="layoutSidenav_content" style="background: #f4f4f4">
  <main>
    <div class="container-fluid">
      <h1 class="mt-4">Product Inventory</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">Stock-in Entry</li>
      </ol>
      <hr
        style="
          height: 3px;
          border-width: 0;
          color: gray;
          background-color: gray;
        "
      />
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="text-center">STOCK IN ENTRY</h5>
                <form class="row" id="stock_in">
                  <div class="row">
                    <div class="col-md-auto">
                      <label for="stock-received" class="col-form-label"
                        >Total Stock Received:</label
                      >
                    </div>
                    <div class="col">
                      <input
                        type="number"
                        pattern="^[a-zA-Z0-9]+$"
                        min="0"
                        oninput="validity.valid||(value='');"
                        class="form-control"
                        id="stock-received"
                      />
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-6">
                      <label for="date-received" class="col-form-label"
                        >Date Received:</label
                      >
                    </div>
                    <div class="col-6">
                      <input
                        class="form-control"
                        id="date-received"
                        type="date"
                      />
                    </div>
                  </div>
                  <div class="row mt-2 text-center float-center">
                    <form
                      class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0"
                    >
                      <div class="searchdiv">
                        <input
                          type="text"
                          id="search-product"
                          placeholder="Search ..."
                          style="
                            width: 14rem;
                            outline: none;
                            border: none;
                            text-indent: 10px;
                            font-family: 'Poppins', sans-serif;
                            font-weight: bold;
                            height: 2.5rem;
                            font-size: 1rem;
                            border-radius: 5rem 0rem 0rem 5rem;
                            background-color: #f8fbfc;
                            text-transform: capitalize;
                          "
                        />
                        <button
                          style="
                            width: 3rem;
                            outline: none;
                            border: none;
                            height: 2.5rem;
                            border-radius: 0rem 5rem 5rem 0rem;
                            background-color: #f8fbfc;
                            margin-left: -20px;
                          "
                          type="submit"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="currentColor"
                            class="bi bi-search"
                            viewBox="0 0 16 16"
                          >
                            <path
                              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                            />
                          </svg>
                        </button>
                      </div>
                    </form>
                  </div>
                  <div class="row mt-2">
                    <div class="product" id="product">
                      <div
                        class="container-fluidtext-center border"
                        style="height: 19rem"
                      >
                        <h6 class="text-center">PRODUCT INFORMATION</h6>
                        <div class="card">
                          <div
                            class="product"
                            id="product-display"
                            style="
                              display: flex;
                              flex-direction: column;
                              justify-content: space-between;
                              padding: 2rem;
                              gap: 2.3rem;
                            "
                          ></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card">
              <div class="card-body">
                <h5 class="text-center">STOCK IN PRODUCT LIST</h5>
                <!---PRODUCT LIST-->
                <div class="product" id="product">
                  <div
                    class="container-fluidtext-center"
                    style="
                      height: 24rem;
                      border-right: solid rgb(240, 240, 240) 2px;
                      border-bottom: solid rgb(240, 240, 240) 2px;
                    "
                  >
                    <!--- Tables -->
                    <div class="table-responsive">
                      <table class="table table-bordered text-center">
                        <thead>
                          <th scope="col">ID</th>
                          <th scope="col">Product Name</th>
                          <th scope="col">Category</th>
                          <th scope="col">Stock</th>
                        </thead>
                        <tbody id="stock-in-product-list"></tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="container text-center mt-4">
                  <div class="row">
                    <div class="col">
                      <button
                        class="btn text-white"
                        id="stock-save"
                        type="button"
                        style="background-color: #80190a"
                        onclick="Save()"
                      >
                        SAVE STOCK IN ENTRY
                      </button>
                    </div>
                    <div class="col">
                      <button
                        class="btn text-white"
                        id="stock-cancel"
                        type="button"
                        style="background-color: #80190a"
                        onclick="Cancel()"
                      >
                        CANCEL STOCK IN ENTRY
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <script>
    $(document).ready(function () {
      $("#stock-received").attr("disabled", "disabled");
      $("#date-received").attr("disabled", "disabled");
      $("tbody").empty();

      $.get("/api/get_item", function (index) {
        var result = JSON.parse(index).item;
        $.each(result, function (_, v) {
          appendData(v.Code, v.Name, v.Category.Name, v.Quantity);
        });
      });
    });

    function appendData(ID, Name, Category, Quantity) {
      $("#stock-in-product-list").append(
        `
          <tr>
            <td>` +
          ID +
          `</td>
            <td>` +
          Name +
          ` </td>
            <td>` +
          Category +
          `</td>
            <td>` +
          Quantity +
          `</td>
          </tr>
          `
      );
    }

    $("#stock_in").submit(function (e) {
      e.preventDefault();
      $("tbody").empty();
      $("#product-display").empty();
      var search = $("#search-product").val();
      $.get("/api/get_item", function (index) {
        var result = JSON.parse(index).item;
        $.each(result, function (_, v) {
          if (search == v.Name) {
            $("#stock-received").removeAttr("disabled");
            $("#date-received").removeAttr("disabled");
            appendData(v.Code, v.Name, v.Category.Name, v.Quantity);
            $("#product-display").append(
              `
            <span id="pID">` +
                v.ID +
                `</span>
            <span>Product: ` +
                v.Name +
                `</span>
            <span>Category: ` +
                v.Category.Name +
                `</span>
            <span>Stock: ` +
                v.Quantity +
                `</span>
            `
            );
          }
        });
      });
    });

    function Cancel() {
      window.location.reload();
    }

    function Save() {
      var id1 = $("#pID").html();
      var total1 = $("#stock-received").val();
      var date1 = $("#date-received").val();

      if (id1 == "" || total1 == "" || date1 == "") {
        /*swal("Please Complete Required Details")*/
        alert("Please Complete Required Details");
      } else {
        $.ajax({
          url: "/api/stockin",
          data: {
            id: id1,
            total: total1,
            date: date1,
          },
          success: function () {
            // use SweetAlert2 to show a success dialog
            Swal.fire({
              title: "Success!",
              text: "Stock-in Added Successfully!",
              icon: "success",
              confirmButtonText: "OK",
            }).then((result) => {
              if (result.isConfirmed) {
                window.location.reload();
              }
            });
          },
        });
      }
    }
  </script>
  {{end}}
</div>
