{{define "title"}}
<title>{{.Title}}</title>
{{end}}

{{define "content"}}
            <!--Category Content-->
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid ">
                        <h1 class="mt-4">Product Category</h1>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active">Sub-Category</li>
                        </ol>
                        <hr style="height:3px;border-width:0;color:gray;background-color:gray">
                        <div class="container-fluid ">
                            
                                    <div class="d-flex justify-content-start">
                                    <div class="row text-center">
                                        <div class=" d-flex justify-content-end">
                                            <div class="d-grid gap-2 d-md-block ">
                                                <a href="" type=button class="btn text-white" style="background-color: #80190A;;" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                              >Add Sub-Category</a>
                                                <a href="#" class="btn text-white" id="category-report" style="background-color: #80190A;;" onclick="PDF()">Generate Report</a>
                                            </div>
                                        </div>
                                      </div>
                                    </div>
                               
                        </div>
                        <div class="container-fluid mt-3">
                            <div class="card shadow">
                                    <div class="category" id="categorylist">
                                           <!--- Tables -->
                                           <div class="table-responsive py-3 ms-3 me-3">
                                          <div id="divToExport">
                                            <table class="table table-bordered text-center">
                                                <thead>
                                                    <th scope="col">No</th>
                                                    <th scope="col">Created By</th>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Category Name</th>
                                                    <th scope="col">Action</th>
                                                    </thead>
                                                <tbody id="sub-category-details">
                                                 
                                                </tbody>
                                              </table>
                                            </div>
                                        </div>
                                    </div>

                                    <!--- Add Category Modal  -->
                                   <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                                    aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-sm  modal-dialog-centered">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container">
                                                <div class="row">
                                                  <div class="col">
                                                    <div class="mb-3">
                                                      <label for="category-name" class="form-label">Category id (Name):</label>
                                                      <!----Select Catgeory-->
                                                      <select class="form-select" id="category">
                                                     
                                                      
                                                      </select>
                                                    </div>
                                                  </div>
                                                  <div class="col">
                                                    <div class="mb-3">
                                                      <label for="sub-category-name" class="form-label">Name:</label>
                                                      <input type="category" class="form-control" id="sub-category-name" placeholder="Enter Category Name">
                                                      <input type="text" class="form-control" id="itemID" placeholder="Enter Category Name" hidden>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="row">
                                                  <div class="col">
                                                    <a type="submit" id="sub-category-save" href="#" class="btn mb-2 w-100 btn-block rounded text-white"
                                                    style="background-color: #80190A;" onclick="Save()">Save</a>
                                                    <a type="submit" id="sub-category-modify" href="#" class="btn mb-2 w-100 btn-block rounded text-white"
                                                    style="background-color: #80190A;" onclick="Modify()">Modify</a>
                                                 </div>
                                              </div>
                                                
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div> 

                                      <!--- Delete Item Modal  -->
                                <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-sm modal-dialog-centered">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container-sm">
                                            <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="pills-login-tab"
                                                tabindex="0">
                                                <div class="form-floating mb-3">
                                                <div class="delete_name">
                                                    <input type="text" class="form-control" id="itemID_delete" placeholder="Enter Category Name" hidden>
                                                    <span>Are you sure to Delete <h3 id="categoryname"></h3></span>
                                                </div>
                                                </div>
                                                <div class="mt-3">
                                                <div class="delete_btn">
                                                    <a type="submit" href="#" class="btn w-100 btn-block rounded text-white"
                                                    style="background-color:#80190A;" onclick="Delete_Yes()">YES</a>
                                                    <a type="submit" href="#" class="btn w-100 btn-block rounded text-white"
                                                    style="background-color: #80190A;" onclick="Delete_No()">NO</a>
                                                </div>

                                                </div>
                                            </div>
                                            <!-- Delete category Tab -->
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                    </div>
                                    </div>

                              </div>
                        </div>
                    </div>
                </main>
            </div>

<script>
    function Save() {
        var name = $("#sub-category-name").val();
        var sub = $("#category").val();
        if (name == "" || sub == 0) {
          // use SweetAlert2 to show an error dialog
          Swal.fire({
            title: 'Error!',
            text: 'Please Complete Required Details',
            icon: 'error',
            confirmButtonText: 'OK'
          });
        } else {
          $.ajax({
            url: "/api/sub_category",
            data: {
              "name": name,
              "id": sub
            },
            success: function () {
              // use SweetAlert2 to show a success dialog
              Swal.fire({
                title: 'Success!',
                text: 'Sub-Category Added Successfully!',
                icon: 'success',
                confirmButtonText: 'OK'
              }).then((result) => {
                if (result.isConfirmed) {
                  window.location.reload();
                }
              });
            }
          });
        }
      }
 $( document ).ready(function() {
        $("#sub-category-modify").hide();
    $("#category-details").empty()
    $.get("/api/get_subcategory", function(index){
    var result = JSON.parse(index).item
    $.each(result, function(_,v){
        $("#sub-category-details").append(`
        <tr class="border">
            <td>`+v.ID+`</td>
            <td>`+v.User.FirstName+` `+v.User.LastName+` </td>
            <td>`+v.Name+`</td>
            <td>`+v.Category.Name+`</td>
            <td>
               <button type="button" class="btn text-white text-center" id ="edit-category" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="background-color: #1fa708" onclick="Validate(`+v.ID+`)"><i class="fa-solid fa-pen-to-square"></i></button>
               <button type="button" class="btn text-white text-center" id ="delete-category" data-bs-toggle="modal" data-bs-target="#deleteModal" style="background-color: #80190A;" onclick="Delete(`+v.ID+`)"><i class="fa-solid fa-trash"></i></button>
                
              </td>
        </tr>
        `)
    })
    })
    $("#category").empty()
    $("#category").append(`
    <option selected value="0">Select</option>
    `)
    $.get("/api/get_category", function(index){
    var result = JSON.parse(index).item
    $.each(result, function(_,v){
      $("#category").append(`
    <option value="`+v.ID+`">`+v.Name+`</option>
    `)
    })
    });
 })



function Validate(id){
    if (id > 0){
        $("#sub-category-save").hide()
        $("#sub-category-modify").show()
    }else{
        $("#sub-category-modify").hide()
        $("#sub-category-save").show()
    }
   
    $.get("/api/get_subcategory", function(index){
    var result = JSON.parse(index).item
    $.each(result, function(_,v){
        if (id == v.ID){
        $("#itemID").val(v.ID)
        $("#sub-category-name").val(v.Name)
        $("#category").val(v.CategoryID)
        }
    })
})
}

function Modify() {
    var id = $("#itemID").val();
    var name = $("#sub-category-name").val();
    var sub = $("#category").val();
  
  
    if (name == "" || sub == 0) {
      // use SweetAlert2 to show an error dialog
      Swal.fire({
        title: 'Error!',
        text: 'Please Complete Required Details',
        icon: 'error',
        confirmButtonText: 'OK'
      });
    } else {
      $.ajax({
        url: "/api/edit_subcategory",
        data: {
          "id": id,
          "name": name,
          "cat": sub
        },
        success: function () {
          // use SweetAlert2 to show a success dialog
          Swal.fire({
            title: 'Success!',
            text: 'Catgeory Updated Successfully!',
            icon: 'success',
            confirmButtonText: 'OK'
          }).then((result) => {
            if (result.isConfirmed) {
              window.location.reload();
            }
          });
        }
      });
    }
  }

function Delete(id){
    $.get("/api/get_subcategory", function(index){
    var result = JSON.parse(index).item
    $.each(result, function(_,v){
        if (id == v.ID){
        $("#itemID_delete").val(v.ID)   
        $("#categoryname").html(v.Name + "?")
        }
    })
})
}

function Delete_No(){
    window.location.reload()
}

function Delete_Yes() {
    var id = $("#itemID_delete").val();
    $.ajax({
      url: "/api/delete_subcategory",
      data: {
        "id": id,
      },
      success: function () {
        // use SweetAlert2 to show a success dialog
        Swal.fire({
          title: 'Success!',
          text: 'Category Deleted Successfully!',
          icon: 'success',
          confirmButtonText: 'OK'
        }).then((result) => {
          if (result.isConfirmed) {
            window.location.reload();
          }
        });
      }
    });
  }

  function PDF(){
    var element = document.getElementById('divToExport');
    element.style.width = '100%';
    element.style.height = '100%';

    var opt = {
      margin: 0.5,
      filename: 'Category_Report.pdf',
      image: { type: 'jpeg', quality: 1 },
      html2canvas: { scale: 1 },
      jsPDF: { unit: 'in', format: 'legal', orientation: 'landscape', precision: '12' }
    };

    // choose the element and pass it to html2pdf() function and call the save() on it to save as pdf.
    html2pdf().set(opt).from(element).save();
  }
    </script>

            {{end}}