{{define "title"}}
<title>{{.Title}}</title>
{{end}}

{{define "content"}}
            <!--VAT & DISCOUNT CONTENT-->
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Product Inventory</h1>
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                              <button class="nav-link active" id="nav-vat-tab" data-bs-toggle="tab" data-bs-target="#nav-vat" type="button" role="tab" aria-controls="nav-vat" aria-selected="true">Vat Percentage</button>
                              <button class="nav-link" id="nav-discount-tab" data-bs-toggle="tab" data-bs-target="#nav-discount" type="button" role="tab" aria-controls="nav-discount" aria-selected="false">Discount</button>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <!--- VAT TAB -->
                            <div class="tab-pane fade show active" id="nav-vat" role="tabpanel" aria-labelledby="nav-vat-tab" tabindex="0">
                                <div class="container mt-3 d-flex justify-content-center" style="height: 27rem">
                                    <div class="container w-75 mt-5 mb-5">
                                         <!--- Tables -->
                                         <div class="table-responsive py-3 ms-3 me-3">
                                            <table class="table table-bordered text-center">
                                                <thead>
                                                    <th scope="col">Vat Value</th>
                                                    <th scope="col">Button</th>
                                                </thead>
                                                <tbody>
                                                    <tr class="border">
                                                        <td>
                                                            <div class="d-grid col-6 mx-auto mt-3">
                                                                <input type="text" class="form-control" id="vat">
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-grid gap-2 col-6 mx-auto">
                                                                <button class="btn text-white" id="vat-save" type="button" style="background-color: #80190A;">SAVE</button>
                                                                <button class="btn text-white" id="vat-cancel" type="button" style="background-color: #80190A;">CANCEL</button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--- DISCOUNT TAB -->
                            <div class="tab-pane fade" id="nav-discount" role="tabpanel" aria-labelledby="nav-discount-tab" tabindex="0">
                                <div class="container w-75">
                                    <div class="row mt-4  float-end">
                                        <div class="d-grid d-md-block">
                                            <a href="" type=button class="btn text-white" style="background-color: #80190A;" data-bs-toggle="modal" data-bs-target="#staticBackdrop" onclick="Validate()">ADD DISCOUNT</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="container d-flex justify-content-center" style="height: 27rem">
                                    <div class="container w-75">
                                         <!--- Tables -->
                                         <div class="table-responsive py-3 ">
                                            <table class="table table-bordered text-center">
                                                <thead>
                                                    <th scope="col">Discount Name</th>
                                                    <th scope="col">Value</th>
                                                    <th scope="col">Button</th>
                                                </thead>
                                                <tbody>
                                                    <tr class="border">
                                                        <td></td>
                                                        <td>
                                                            <div class="d-grid col-6 mx-auto ">
                                                                <input type="text" class="form-control" id="discount">
                                                        </td>
                                                        <td>
                                                            <div class="d-grid gap-2 col-6 mx-auto">
                                                                <button class="btn text-white" type="button" id="discount-edit" style="background-color: #80190A;">EDIT</button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--- Add/Edit Discount Modal -->
                            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                            aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-sm  modal-dialog-centered">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Discount</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="discount-name" placeholder="Enter Discount Name">
                                            <label for="discount-name">Discount Name</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input type="number" class="form-control" id="discount-value" placeholder="Enter Value">
                                            <label for="discount-value">Value</label>
                                        </div>
                                        <div class="row">
                                            <div class="d-grid gap-2">
                                               
                                              </div>
                                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                                <button class="btn text-white me-md-2" id ="discount-save" type="button" style="background-color: #80190A;">SAVE</button>
                                                <button class="btn text-white" id ="discount-cancel" type="button" style="background-color: #80190A;">CANCEL</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                </div>
                            </div>
                    </div>
                </main>
            </div>
{{end}}
